@import 'landing_base';

// COLORS
$yellow: #fecf33;
$cta-color: #fdbd39;
$cta-color-dark: #ffd737;
$cta-color-active: #ee6723;
$image-backing: #333;
$font-color: #4e4e4e;
$font-color-light: #999999;
$font-color-icons: #6c6c6c;

$border-color: #e1e1e1;

$extended-color: #ffffff;
$extended-color-subtle: lightgray;
$extended-bg-color: #404040;

$ingredients-extended-bg-color: #ffffff;

$tab-backrgound-color: #F2F2F2;
$tab-inactive-color: #DFDFDF;

$quotes-bg-color: #737373; 
$quote-color: #fafafa;
$slider-button-bg: #A6A6A6;
$slider-button-active-bg: $cta-color;

$gradient-color-yellow: #FED649;
$gradient-color-orange: #F1B143;

$fs-divisor: 16;

$font-family: '"futura-pt", "Open Sans", sans-serif';

// BREAKPOINTS

$small-desktop: '(max-width: 1200px)';

$medium: '(max-width: 854px)';

$mobile: '(max-width: 767px)';

$medium-small-custom: '(max-width: 680px)';

$header-z-index: 100;

// FUNCTIONS

@function pxToRem($size){
  @return $size / $fs-divisor * 1rem
}

@function dimensionsToRatio($width, $height){
  @return  $height / $width * 100%
}


// INTERACTIVE ELEMENTS

%cta {
  background-color: $cta-color;
  transition: background-color 0.1s ease-in-out;
  pointer: cursor;

  &:hover {
   background-color: $cta-color-dark;
 }
 &:active {
  background-color: $cta-color-active;
}
}

.a--cta {
  @extend %cta;
}

.content-toggle {
  padding: pxToRem(30);

  @media #{$medium-small-custom} {
    display: none;
  }
}


[data-toggle-content] {
  height: auto;
  display: none;
}

.content-toggle--ui {
  margin: pxToRem(21.5) 0;
  text-align: center;
}

.content-toggle--button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

.content-toggle--text {
  display: block;
  margin-bottom: pxToRem(12.5);
  font-size: pxToRem(20);
}

.content-toggle--icon {
  @extend %cta;

  position: relative;
  display: inline-block;
  width: 39 / 16 * 1rem;
  height: 39 / 16 * 1rem;
  border-radius: 50%;
  z-index: $header-z-index - 10;
  transition: transform ease-out 0.4s,
  background-color ease-out 0.4s;

  &:before,
  &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: "";
    background-color: #fff;
    transform: translate(-50%,-50%);
  }
  &:before {
    width: 1px;
    height: 25%;
    animation: shrink-n-grow-height-to-plus 0.4s;
  }
  &:after {
    width: 30%;
    height: 1px;
    animation: shrink-n-grow-width-to-plus 0.4s;
  }

  .opened & {
    background-color: $font-color-icons;
    transform: rotate(180 + 45 * 1deg);

    &:before {
      height: 30%;
      animation: shrink-n-grow-height-to-x 0.4s;
    }

    &:after {
      width: 30%;
      animation: shrink-n-grow-width-to-x 0.4s;
    }

  }
}

@keyframes shrink-n-grow-height-to-x {
  0% { height: 25% }
  50% { height: 0; }
  100% { height: 30%;}
}

@keyframes shrink-n-grow-height-to-plus {
  0% { height: 30% }
  50% { height: 0; }
  100% { height: 25%;}
}

@keyframes shrink-n-grow-width-to-x {
  0% { width: 30% }
  50% { width: 0; }
  100% { width: 30%;}
}

@keyframes shrink-n-grow-width-to-plus {
  0% { width: 30% }
  50% { width: 0; }
  100% { width: 30%;}
}

// OVERWRITES / BASICS

body {
  font-family: #{$font-family};
  color: $font-color;
}

.p--title {
  font-size: pxToRem(16.5);
  letter-spacing: pxToRem(1);

  .gold-ingredients > &,
  .purchase-options > &,
  .technology &, 
  .gold-benefits > & {
    padding-top: pxToRem(46);
  }

  &:after {
    content: none;
  }
}

.p--text {
  font-size: pxToRem(21) !important;
  line-height: 1.38;
}

.p--header,
.p--title,
.p--text {
  font-family: #{$font-family};
}

.p--header__small {
  font-size: pxToRem(52);
  @media #{$medium-small-custom} {
    font-size: pxToRem(32);
  }
}


%p--title__large {
  @extend .p--header__small;
  font-weight: 300;
  font-size: pxToRem(31);
  color: $extended-color;
  text-align: left;
  text-transform: none;
}

%gradient {
  background: linear-gradient(to bottom, $gradient-color-yellow 0%, $gradient-color-orange 100%);
}

// HEADER

.main-header {
  transition: background-color ease-in-out 0.75s,
  padding ease-in-out 0.75s !important;

  .row {
    position: relative;
  }
  .a--cta {
    // Without this centered logo is not centered horizontally
    position: absolute;
    top: pxToRem(-1);
    right: 0;
  }
  .main-header__logo .synchro-logo {
    transition: fill ease-in-out 0.4s;
  }

  &.floated {
    background-color: white !important;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    .main-header__logo .synchro-logo {
      fill: $font-color;
    }
  }
}

// Overriding the other styles
@media #{$mobile} {
  .main-header-container .main-header__logo {
    position: static;
    transform: none;
  }
}

// HERO

.hero {
  background-color: $image-backing;
}

.bg-full-width {
  max-height: 100vh;
  background: url('https://storage.googleapis.com/synchro-assets/gold/susan/hero@2x.jpg');
  background: -webkit-image-set(
    url('https://storage.googleapis.com/synchro-assets/gold/susan/hero.jpg') 1x,
    url('https://storage.googleapis.com/synchro-assets/gold/susan/hero@2x.jpg') 2x,
    url('https://storage.googleapis.com/synchro-assets/gold/susan/hero@3x.jpg') 3x
    );

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position-x: 50%;
  background-position-y: 0px;
  background-repeat: no-repeat;
  // opacity: 0; // Fades in

  transition: 0s linear;
  transition-property: background-position-y;
  position: relative;


  @media #{$mobile} {
    max-height: 85vh;
  }

  @media only screen and (min-width : 480px) {
    background-size: cover
  }

}

svg.external {
  height: 100%;
  width: 100%;
  display: inline-block; 
  margin: auto;
}

.main-header-container {
  height: 0;
  text-align: center;

  .main-header__logo .synchro-logo {
    width: 111px;
    height: 30.5px;
    fill: #fff;

    @media #{$mobile} {
      fill: #000000;
    }
  }
  .main-header {
    background: none;

    @media #{$mobile} {
      background: rgba(255,255,255,0.9);
    }
  }
}

.atf {
  &.bg-full-width {
    position: relative;
    height: 738px;
    background-color: $image-backing;

    .p--header {
      opacity: 0;
      margin: 0;
      color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      font-size: #{70/16 * 1rem};
      text-transform: lowercase;
      font-weight: 400;
      text-align: center;
      text-shadow: 1.6px 1.9px 0 rgba(0, 0, 0, 0.1);
      transition: opacity 0.75s ease-in-out;

      &.animate-in {
        opacity: 1;
      }

      @media #{$mobile} {
        top: 45%;
        font-size: #{50/16 * 1rem};
      }

    }

    .down-arrow {
      opacity: 0;
      width: 19px;
      bottom: pxToRem(100);
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      transition: opacity 0.75s ease-in-out,
      bottom 0.75s ease-in-out;

      &.animate-in {
        bottom: pxToRem(70);
        opacity: 1;
      }

    }
  }
}

// INTRO

.intro {
  background: #f3f5f7;
  text-align: left;
  padding-top: pxToRem(90);
  padding-bottom: pxToRem(90);
  background-image: url(https://storage.googleapis.com/synchro-assets/gold/susan/synchro-gold-effective-turmeric-supplement.jpg);
  background-size: 1450px;
  background-position: center center;
  background-repeat: no-repeat;

  @media #{$medium} {
    background-size: cover;
  }

  @media #{$mobile} {
    padding-top: 0;
    padding-bottom: pxToRem(50);
    text-align: center;
    background-image: none;
  }

  .p--title {
    margin-bottom: 0;
    font-size: pxToRem(19);
    text-align: left;
    font-weight: 500;

    @media #{$mobile} {
      text-align: center;
    }


    &:after {
      content: none;
    }
  }

  .p--header__small {
    margin: pxToRem(19) 0;
    line-height: 1.2;

    @media #{$medium} {
      font-size: pxToRem(42);
    }

    @media #{$mobile} {
      font-size: pxToRem(32);
    }
  }

  .a--cta {
    @extend %cta;
    width: 60%;
    max-width: pxToRem(206);
    padding: pxToRem(19);
    text-align: center;
  }

  .intro-image {
    width: 100%;
  }

  // Note: Not scoped to these blocks
  $intro-image-width: 696px;
  $intro-image-height: 386px;

  .snap-to-ratio {
    height: 0;
    position:relative;
    padding-bottom: dimensionsToRatio($intro-image-width, $intro-image-height);
  }

  .snap-to-ratio-img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    img {
      width: 100%;
      height: auto;
    }
  }
}

// ICON GROUP

%icon-group--item {
  padding: 0;
  text-align: center;
  .p--title {
    color: $font-color-icons;
    font-weight: 300;
    margin-bottom: 0;
  }
  @media #{$medium} {
    float: left;
    width: 50%;
    &.last {
      width: 100%!important;
    }
  }
}

%icon-group--img {
  display: inline-block;
  height: pxToRem(80);

  @media #{$mobile} {
    height: pxToRem(55);
  }
}


// BENEFITS

.benefits {
  position: relative;

  &:before {
    content: "";
    background-image: url(https://storage.googleapis.com/synchro-assets/gold/susan/bottom-wave-copy%402x.png);
    background-color: transparent;
    height: 2.8125rem;
    display: block;
    width: 100%;
    bottom: 0;
    position: absolute;
    top: -2.8125rem;
    background-repeat: repeat-x;
    background-size: cover;
    background-position-x: 50%;
    z-index: $header-z-index - 10;
  }

}

.benefits-cta {

  display: none;

  @media #{$medium} {
    display: block;
    text-align: center;
  }

  .a--cta {
    max-width: 13.125rem;
    width: 80%;
  }
}

.gold-benefits__icon {
  @extend %icon-group--item;
}

.gold-ingredients__item {
  vertical-align: top;
}

.gold-benefits__img {
  @extend %icon-group--img;
}

.gold-benefits__point {
  font-size: pxToRem(20) !important;
  max-width: 80%;
  margin: pxToRem(40) auto;

  @media #{$medium} {
    margin: pxToRem(30) auto pxToRem(60);
  }

  @media #{$mobile} {
    font-size: pxToRem(16) !important;
    margin: pxToRem(20) auto pxToRem(50);
  }

  span {
    @media #{$mobile} {
      display: none;
    }
  }
}

// EXTENDED CONTENT

.benefits {

  .extended-content {
    margin-top: pxToRem(50);
  }

  .extended-content--copy {
    padding: pxToRem(48) 12%;
    
    @media #{$mobile} {
      padding: pxToRem(32);

    }
  }
}

.extended-content--header {
  @extend .extended-content--copy;
  font-size: pxToRem(23);
  padding-bottom: 0;
  color: $extended-color;

  .research & {
    padding-top: 6.625rem;
    padding-bottom: 2.5rem;
    padding-left: 6%;
    padding-right: 6%; 
  }
}

.extended-content {
  overflow: hidden;
  background-color: $extended-bg-color;
  // position: relative;
  // top: pxToRem(-42);
  margin-right: 0;
  margin-left: 0;

  &.open {
    overflow: visible;
  }

  .p--title {
    @extend %p--title__large;
    color: $extended-color;
    text-align: center;
  }

  .p--text {
    font-size: pxToRem(19) !important;
    color: $extended-color;
    color: $extended-color-subtle;
    text-align: center;
  }

  // &:after {
    //   content: "";
    //   background-color: $extended-bg-color;
    //   display: block;
    //   bottom: pxToRem(-42);
    //   height: pxToRem(42);
    //   position: absolute;
    //   width: 100%; 
    // }
  }

  .extended-content--inner {
    display: table;
    table-layout: fixed;
    @media #{$medium-small-custom} {
      display: block;
    }
  }

  .extended-content--row {
    display: table-row;
    @media #{$medium-small-custom} {
      display: block;
    }
  }

  .extended-content--row__single {
    @extend .extended-content--row;
    display: block;
  }

  .extended-content--item {
    display: table-cell;
    width: 50%;
    padding: 0;
    text-align: center;

    .p--title {
      font-weight: 500;
      margin-bottom: 0;
    }

    @media #{$medium-small-custom} {
      display: block;
      width: 100% !important;
    }

  }

  .gold-benefits__item {
    @extend .extended-content--item;
    .p--text,
    .p--header,
    .p--title {
      text-align: left;
    }
  }

  .extended-content--image {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 60%; // guess
    overflow: hidden;
  }

  .extended-content--image--wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    img {
      width: 100%;
      height: auto;
    }
  }

  // RESEARCH

  .research {

    .extended-content {
      text-align: center;
      margin-top: pxToRem(50);
    }

    .extended-content--header {
      line-height: initial;
      max-width: 80%;
      margin: 0 auto;
    }

    .extended-content--copy {
      padding: pxToRem(48) 12%;

      @media #{$mobile} {
        padding: pxToRem(32);

      }
    }
  }

  // TECHNOLOGY

  .technology {
    position: relative;
    text-align: center;

    .row {
      padding: 0 5%;
    }

    .p--header__small {
      text-transform: uppercase;
      margin-bottom: pxToRem(18);
    }

    p {
      line-height: 1.38;
      text-align: center;
      margin-top: pxToRem(30);
      margin-bottom: pxToRem(30);
      width: 90%;
      font-size: pxToRem(21);
      margin-right: auto;
      margin-left: auto;

      @media #{$mobile} {
        width: 90%;
        font-size: pxToRem(18);

      }
    }

    .p--title {
      margin-bottom: pxToRem(55);
    }
  }

  .tab-content {
    min-height: 300px;
    padding: pxToRem(30) pxToRem(40);
  }

  .tab-pane {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;

    &.active {
      max-height: 650px;
    }
  }

  .tab-content--header {
    @extend .p--header__small;
    text-transform: none!important;
    margin: pxToRem(20);
    font-weight: 100;

    @media #{$mobile} {
      font-size: pxToRem(32);
      margin: pxToRem(40) pxToRem(30);
      line-height: 1.2;
    }
  }

  .technology--tabs {

    margin: pxToRem(55) 0 0;
    border-radius: 12px;
    box-shadow: inset 0px 0px 1px #bdbdbd;

    @media #{$mobile} {
      margin-bottom: pxToRem(55);
      box-shadow: none;
    }
  }

  .tabs {
    max-width: pxToRem(1200);
  }

  .tabs-inner {
    display: inline-block;
    font-size: 0;
    height: pxToRem(115);
    width: 100%;
    border-radius: pxToRem(12) pxToRem(12) 0 0;
    overflow: hidden;

    @media #{$mobile} {
      border-radius: 0;
      height: initial;
    }
  }

  .tab-box {
    display: inline-block;
    width: 25%;

    @media #{$mobile} {
      width: 100%;
      box-shadow: inset 0px 0px 1px #e2e2e2;
      border-radius: pxToRem(6);
      margin: pxToRem(5) 0;
      overflow: hidden;

      &.active {
        box-shadow: inset 0px 0px 1px #fdbd39;
      }
    }
  }

  .tab {
    background: #F4F4F5;
    position: relative;
    line-height: pxToRem(100);
    font-size: pxToRem(20);
    cursor: pointer;
    color: $font-color;
    outline: 1px solid #ffffff;

    @media #{$medium} {
      font-size: initial;
    }

    @media #{$mobile} {
      line-height: initial;
    }

    &:after {
      content: "";
      display: block;
      border-width: 10px;
      border-style: solid;
      border-color: #f4f4f5 transparent transparent;
      margin-left: -10px;
      position: absolute;
      bottom: -20px;
      left: 50%;

      @media #{$mobile} {
        display: none;
      }
    }

    h6 {
      display: inline-block;
      vertical-align: middle;
      line-height: normal;
      padding: pxToRem(15);
    }

    &:hover {
      color: $font-color;
    }

    &.active {
      @extend %gradient;
      color: #ffffff;

      &:after {
        border-color: $gradient-color-orange transparent transparent;

        @media #{$mobile} {
          display: block;
        }  
      }
    }
  }

  .tab-register {
    display: block;
    height: pxToRem(6);
    background: linear-gradient(to right, $tab-inactive-color 0%, $tab-inactive-color 100%);
    transition: background ease-in-out 0.4s;
    position: absolute;
    top: 0;
    left: 6%;
    width: 90%;
  }

  // COLUMN 2.4

  .col-md-2pt4 {
    $perc-width: 100;
    $item-count: 5;
    float: left;
    width: $perc-width / $item-count * 1%;

    @media (max-width: 480px) {
      width: 100% !important;
    }
  }

  .about {
    text-align: center;

    .p--header {
      text-transform: none;
      color: #751e85;
    }
  }

  // GOLD INGREDIENTS

  .gold-ingredients__icons {
    background: #F2F2F2;
    font-size: 0;
    text-align: center;
  }

  .gold-ingredients__icon {
    display: inline-block;
    text-align: center;
    width: 20%;
    vertical-align: top;

    @media #{$medium} {
      width: 33%;
    }

    @media #{$medium-small-custom} {
      width: 50%;
    }

    .ingredients__header {
      font-size: pxToRem(20) !important;
      max-width: 80%;
      margin: pxToRem(20) auto pxToRem(40);

      @media #{$medium} {
        margin: pxToRem(30) auto pxToRem(60);
      }

      @media #{$mobile} {
        font-size: pxToRem(16) !important;
        margin: pxToRem(20) auto pxToRem(50);
      }
    }
  }

  .gold-ingredients__item {
    @extend .extended-content--item;
  }

  .gold-ingredients__item__single {
    @extend .extended-content--item;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .gold-ingredients__img {
    @extend %icon-group--img;
    height: pxToRem(100);
    -webkit-filter: drop-shadow(0 0 3px rgba(0,0,0,0.1)); 
    filter: drop-shadow(0 0 3px rgba(0,0,0,0.1)); 

    @media #{$mobile} {
      height: pxToRem(70);
    }
  }

  .ingredients {
    text-align: left;

    &__img-box {
      height: 450px;
    }

    .p--header {
      position: relative;

      .superscript {
        position: absolute;
        font-size: 20px;
        top: 0;
        left: -1em;
        color: #7f4c9b;
      }
    }
  }

  .ingredients--extended-content {
    background-color: $ingredients-extended-bg-color;
    padding-bottom: pxToRem(70);
    margin-top: pxToRem(20);
    
    @media #{$mobile} {
      margin-top: pxToRem(0);
    }

    .p--text {
      color: $font-color;
    }

    .extended-content--image {
      padding-bottom: 47%;
    }

    .gold-ingredients__header {
      font-size: pxToRem(31);
      color: $font-color;
      margin-top: pxToRem(20);
    }

    .gold-ingredients__item,
    .gold-ingredients__item__single {
      vertical-align: top;
      padding: pxToRem(80) pxToRem(50) 0;

      @media (max-width: 480px) {
        padding: pxToRem(60) pxToRem(20) 0;
      }

      .gold-ingredients__img {
        transform: scale(0.8);
      }

      & + .gold-ingredients__item .gold-ingredients__img {
        transform: none;
      }
    }


    .gold-ingredients__img {
      width: auto;
      height: 100%;

    }

    .p--text {
      font-size: pxToRem(19) !important;
    }

    .extended-content--copy {
      padding-bottom: 0;   
    }

  }

  // QUOTES

  .slider {
    background-color: $quotes-bg-color;
    color: $quote-color;
    text-align: center;
    background-image: url('https://storage.googleapis.com/synchro-assets/gold/susan/quote.svg');
    background-repeat: no-repeat;
    background-position: 9% 20%;
    background-size: pxToRem(116);
  }

  .slide {
    padding: pxToRem(121.5);
    padding-bottom: pxToRem(92);
    padding-left: 30px;
    padding-right: 30px; 
  }

  [role="button"] {
    .slick-dots & {
      font-size: 0;
      height: pxToRem(12.5);
      width: pxToRem(12.5);
      border-radius: pxToRem(12.5);
      background-color: $slider-button-bg;
    }
  }

  .slick-dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: pxToRem(12.5);

    [role="presentation"] {
      padding: pxToRem(8.5 / 2);
      display: inline-block;
    }

    .slick-active {
      [role="button"] {
        background-color: $slider-button-active-bg;
      }
    }
  }

  .quote-text {
    max-width: pxToRem(860);
    display: inline-block;
    font-size: pxToRem(30);
    font-weight: 300;
    font-style: italic;
    z-index: 3;
    line-height: 1.4;

    @media #{$medium-small-custom} {
      font-size: pxToRem(21) !important;
    }
  }

  .quote-author-img {
    .slick-slide & {
      display: inline-block;
    }
    margin-top: pxToRem(48);
    margin-bottom: pxToRem(24);
    height: pxToRem(64);
    width: pxToRem(64);
  }

  // PURCHASE OPTIONS

  .purchase {
    padding-top: 0;
  }

  @media #{$mobile} {
    .section--padding {
      padding-left: pxToRem(80);
      padding-right: pxToRem(80);
    }
  }

  @media (max-width: 500px) {
    .section--padding {
      padding-left: pxToRem(40);
      padding-right: pxToRem(40);
    }
  }


  .purchase--item {
    position: relative;
    padding: 0;
    height: pxToRem(620);
    transition: transform 0.3s ease-in-out;
    text-align: center;

    @media #{$mobile} {
      margin-top: pxToRem(30);
      height: pxToRem(600);
      border-bottom: 1px solid #e2e2e2;
    }

    &:hover {
      transform: scale(1.025);
    }  
  }

  .purchase--item--img {
    position: absolute;
    left: 50%;
    top: 82px;
    transform: translateX(-50%);
    margin-top: pxToRem(0);
    transition: transform 0.3s ease-in-out;
    height: 220px;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;

    &.option-1 {
      background-image: url('https://storage.googleapis.com/synchro-assets/gold/susan/gold-lg1.png')
    }

    &.option-2 {
      background-image: url('https://storage.googleapis.com/synchro-assets/gold/susan/gold-lg2.png')
    }
  }

  .premium--img--wrapper {
    position: absolute;
    top:  82px;
    right: 0;
    left: 0;
    z-index: $header-z-index - 10;
    height: 220px;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: pxToRem(0);
    background-image: url('https://storage.googleapis.com/synchro-assets/gold/susan/gold-lg4.png');
    background-size: contain;
  }

  .purchase--item--title {
    @extend .p--title;
    position: absolute;
    left: 0;
    top: pxToRem(20);
    width: 100%;
    font-weight: 500;
    font-size: pxToRem(21);
    z-index: $header-z-index - 10;
    margin-top: pxToRem(20);
  }

  .purchase--item--info {
    position: absolute;
    left: 10%;
    top: 295px;
    width: 80%;
    z-index: $header-z-index - 10;
  }

  .purchase--item--cancel {
    font-size: pxToRem(14);
    margin-top: pxToRem(14);
    font-style: italic;
    color: $font-color-light;
  }

  .purchase--item--qty {
    @extend .purchase--item--title;
    position: static;
    margin: 0;
    margin-top: pxToRem(20);
  }

  .purchase--item--servings {
    color: $font-color-light;
    text-transform: uppercase;
    font-size: pxToRem(16);
    margin-top: pxToRem(16);
  }

  .purchase--item--off {
    font-weight: bold;
    text-transform: uppercase;

    span {
      font-weight: normal;
      text-decoration: line-through;
    }
  }

  .purchase--item--pricing {
    position: absolute;
    right: 0;
    top: pxToRem(430);
    bottom: pxToRem(68);
    left: 0;
    z-index: $header-z-index - 10;

    @media #{$mobile} {
      top: pxToRem(410);
    }
  }

  .purchase--item--type {
    @extend .purchase--item--servings;
    color: $font-color-light;
    margin-top: pxToRem(18);
    margin-bottom: pxToRem(14.5);
  }

  .purchase--item--price {
    font-size: pxToRem(64);
    margin-top: pxToRem(15);
    color: $font-color;
    opacity: 0.9;
    line-height: pxToRem(72);

    @media #{$medium} {
      font-size: pxToRem(53);
      line-height: pxToRem(60);
    }

    &.premium-animate {
      opacity: 1;
      font-size: pxToRem(72);

      @media #{$medium} {
        font-size: pxToRem(60);
      }
    }
  }

  .purchase--item {
    .button--wrapper {
      position: absolute;
      top: pxToRem(560);
      bottom: pxToRem(20);
      left: 0;
      right: 0;

      @media #{$mobile} {
        top: pxToRem(520);
      }
    }
  }

  .purchase--item--button {
    @extend .a--cta;
    position: relative;
    max-width: pxToRem(210);
    width: 80%;
    z-index: $header-z-index - 1;
  }

  .purchase--item {
    padding: pxToRem(32);
  }

  .purchase--item__premium {
    @extend .purchase--item;
    height: 640px;

    @media #{$mobile} {
      height: 590px;
      border-bottom: 0;
      margin-top: 70px;
    }

    .premium--content--wrapper {
      position: relative;       
      z-index: $header-z-index - 1;
      background: #fbfaf9;
    }

    .bar--wrapper {
      position: absolute;
      overflow: hidden;    
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: $header-z-index - 80;
    }

    .bar {
      position: absolute;
      background: $cta-color;
      transition: all 2s linear;
      -webkit-animation-duration: 2s;
      animation-duration: 2s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
    }

    .bar.delay {
      animation-delay: 1s;
      -webkit-animation-delay: 1s;
    }
    .top {
      top: 0;
      left: 0;
      right: 0;
    }
    .right {
      top: 0;
      right: 0;
      bottom: 0;
    }
    .bottom {
      bottom: 0;
      left: 0;
      right: 0;
    }
    .left {
      top: 0;
      left: 0;
      bottom: 0;
    } 

    .false-background,
    .false-background--inner {
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px; 
      z-index: $header-z-index - 90;
    }

    .false-background--inner {
      bottom: 100%;
      background-color: $border-color;
    }

    .premium--content--wrapper {
      position: absolute;
      top: 1px;
      left: 1px;
      right: 1px;
      bottom: 1px; 
      z-index: $header-z-index - 20;
    }

  }

  .shine-animate-on {
    .top, .bottom {
      -webkit-animation-name: h-move;
      animation-name: h-move;
      height: 1px;
      width: 25%;
    }

    .right, .left {
      -webkit-animation-name: v-move;
      animation-name: v-move;
      width: 1px;
      height: 25%;
    }
  }

  .discount {
    opacity: 0;
    display: block;
    width: pxToRem(110);
    height: pxToRem(26);
    background-color: $cta-color;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2);
    color: white;
    font-size: pxToRem(12);
    letter-spacing: 0.5px;
    text-transform: uppercase;
    padding-top: pxToRem(7);
    z-index: $header-z-index - 10;
    transition: transform 0.7s ease-in-out,
    opacity 0.7s ease-in-out;

    &.animate-in {
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
    }
  }

  .discount:before, .discount:after {
    content: "";
    position: absolute;
    top: 0;
    border: 13px solid #FEBD39;
    border-left-width: 8px;
    border-right-width: 8px;
    z-index: -1;
  }

  .discount:before {
    left: -16px;
    border-left-color: transparent;
  }

  .discount:after {
    right: -16px;
    border-right-color: transparent;
  }

  @-webkit-keyframes h-move {
   0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

@-webkit-keyframes v-move {
  0% {
    top: -100%;
  }
  100% {
    top: 100%;
  }
}

// FAQ & RESEARCH

.faq {
  background-color: white; 
}

.faq__text {
  .p--title {
    @extend %p--title__large;
    color: $font-color;
    margin-bottom: pxToRem(24);
  }

  .p--text {
    margin-bottom: pxToRem(48);
  }
}

.footnote {    
  font-size: 14px!important;
  margin-bottom: 0!important;
}

.footer {
  text-align: center;
  text-transform: none;
  background: #F6F8FB;
  padding: pxToRem(60);
  position: relative;
  top: 16px;

  .synchro-logo {
    display: block;
    margin: 0 auto;
    width: 110px;
    fill: #c6c6c6;
  }

  .bottom-border {
    margin-top: 40px;
    height: 12px;
  }
}

