{% extends "landing_pages/keto-bundle/base.html" %}

{% block content %}

<section class="keto-bundle-lp">
  {% include 'landing_pages/global/header.html' %}
  {% include 'landing_pages/keto-bundle/v1-0/atf.html' %}
  {% include 'landing_pages/keto-bundle/v1-0/about.html' %}
  {% include 'landing_pages/keto-bundle/v1-0/intro.html' %}
  {% include 'landing_pages/keto-bundle/v1-0/product-cards.html' %}
  {% include 'landing_pages/keto-bundle/v1-0/consumption.html' %}
  {% include 'landing_pages/ketomanna/v1-0/quotes.html' %}
  {% include 'landing_pages/keto-bundle/v1-0/purchase_options.html' %}
  {% include 'landing_pages/keto-bundle/v1-0/reviews.html' %}
  {% include 'landing_pages/global/footer.html' %}
</section>

{% endblock %}
