click==6.6
flask-fanstatic==0.2.0
fanstatic==0.16
Flask==0.11.1
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
Werkzeug==0.11.11
SQLAlchemy==1.1.4
alembic==0.8.9
Flask-MySQLdbs==0.2.0
py-KISSmetrics==1.0.1
raven==5.32.0