Flask==0.11.1
Flask-MySQLdb==0.2.0
Flask-CDN==1.5.3
py-KISSmetrics==1.0.1
raven==5.32.0
blinker==1.4
ez-setup==0.9
click==6.6
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
Werkzeug==0.15.3
SQLAlchemy==1.1.4
alembic==0.8.9
google-api-python-client==1.7.4
Flask-Cors==3.0.6
Flask-Script==2.0.6
