{% extends "landing_pages/ketomanna/base.html" %}

{% block content %}

<section class="ketomanna-lp">
  {% include 'landing_pages/global/header.html' %}
  {% include 'landing_pages/ketomanna/v1-0-paid/atf.html' %}
  {% include 'landing_pages/ketomanna/v1-0-paid/about.html' %}
  {% include 'landing_pages/ketomanna/v1-0-paid/intro.html' %}
  {% include 'landing_pages/ketomanna/v1-0-paid/ingredients.html' %}
  {% include 'landing_pages/ketomanna/v1-0-paid/facts.html' %}
  {% include 'landing_pages/ketomanna/v1-0-paid/consumption.html' %}
  {% include 'landing_pages/ketomanna/v1-0-paid/quotes.html' %}
  {% include 'landing_pages/ketomanna/v1-0-paid/purchase_options.html' %}
  {% include 'landing_pages/ketomanna/v1-0-paid/reviews.html' %}
  {% include 'landing_pages/global/footer.html' %}
</section>

{% endblock %}
