@import 'landing_base';

/* gold styles */


.gold-atf {
  text-align: center;
  position: relative;

  .p--header {
    padding-right: 50px;
    padding-left: 50px;
  }

  @include s-screen {
    padding-top: 30px;
  }

  &__image {
    max-width: 100%;
    margin: 0 auto;
  }

  &__uvp {
    text-align: left;
    position: absolute;
    top: 200px;
    left: calc(50% - 430px);

    @include sm-screen {
      top: 215px;
      left: 20px;
    }

    @include s-screen {
      position: initial;
      display: inline-block;
    }

    &.hidden {
      display:none;
    }
  }

  &__item {
    margin: 5px;
    font-size: 18px;

    @include sm-screen {
      font-size: initial;
    }

    @include s-screen {
      display: block;
    }

    &:before {
      content: '\f00c';
      font-family: FontAwesome;
      color: #4ca4e6;
      margin-right: 10px;
    }
  }
}

.gold-benefits {
  padding: 70px 20px;
  text-align: center;

  &__item {
    display: inline-block;
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 50px;

    @include sm-screen {
      padding-right: 25px;
      padding-left: 25px;
    }
  }

  &__img {

    @include sm-screen {
      width: 50%;
    }

    @include s-screen {
      max-width: 150px;
    }
  }

  &__header {
    margin: 50px 0 20px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: normal;

    &:after {
      display: none;
    }
  }
}

.gold-ingredients {

  &__header {
    background: #F6F8FB;
    text-align: center;

    .p--title {
      margin-bottom: 0;
    }
  }
}

.gold-use {

  @include s-screen {
    text-align: center;
  }

  &__title {
    margin-bottom: 20px;
    text-align: left;
  }

  .p--title:after {
    margin-left: 0;

    @include s-screen {
      margin-left: auto;
    }
  }

  &__img {
    display: block;
    margin: 0 auto;

    @include s-screen {
      margin-bottom: 40px;
      max-width: 100%;
    }
  }
}

.gold-research {
  padding-left: 35px;
  padding-right: 35px;
  text-align: center;

  &__item {
    padding: 70px 30px 0;

    .p--title {
      font-family: 'Open Sans', sans-serif;
      letter-spacing: normal;
    }

    @include s-screen {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__footnote {
    margin-top: 70px;
    display: inline-block;
  }
}

/* landing_base overwrites */

.ingredients {

  &__extraction-img {
    width: 600px;
    float: right;

    @include sm-screen {
      max-width: 80%;
      float: none;
      margin-top: 50px;
    }
  }

  &__liposomal-img {
    width: 600px;

    @include sm-screen {
      max-width: 80%;
      float: none;
      margin-top: 50px;
    }
  }

  &__pepper-img {
    width: 600px;
    float: right;

    @include sm-screen {
      max-width: 80%;
      float: none;
      margin-top: 50px;
      padding-bottom: 70px;
    }
  }
}
