{% extends "landing_pages/keto-cleanse/base.html" %}

{% block content %}

<section class="keto-cleanse kcp-lp">
  {% include 'landing_pages/keto-cleanse/v1-0/atf.html' %}
  {% include 'landing_pages/keto-cleanse/v1-0/benefits.html' %}
  {% include 'landing_pages/keto-cleanse/v1-0/intro.html' %}
  {% include 'landing_pages/keto-cleanse/v1-0/how-it-works.html' %}
  {% include 'landing_pages/keto-cleanse/v1-0/program.html' %}
  {% include 'landing_pages/keto-cleanse/v1-0/weight-loss.html' %}
  {% include 'landing_pages/keto-cleanse/v1-0/product-cards.html' %}
  {% include 'landing_pages/keto-cleanse/v1-0/purchase.html' %}
  {% include 'landing_pages/keto-cleanse/v1-0/faq.html' %}
  {% include 'landing_pages/keto-cleanse/v1-0/footer.html' %}
</section>

{% endblock %}
