<footer class="footer-expanded">
  <div class="container-fluid">
    <div class="row">
      <div class="footer-expanded__content">
        <a class="footer-expanded__top" href="#top"><i class="fas fa-chevron-up"></i></a>
        <div class="footer-expanded__products">
          <ul class="footer-expanded__list">
            <li class="footer-expanded__title">Turmeric Elixir</li>
            <li class="footer-expanded__item"><a href="https://live.besynchro.com/gold/original-turmeric-supplement">Gold Elixir</a></li>
            <li class="footer-expanded__item"><a href="https://live.besynchro.com/gold/turmeric-capsules">Gold Capsules</a></li>
          </ul>
          <ul class="footer-expanded__list">
            <li class="footer-expanded__title">Keto</li>
            <li class="footer-expanded__item"><a href="https://live.besynchro.com/ketomanna">Ketomanna</a></li>
            <li class="footer-expanded__item"><a href="https://live.besynchro.com/ketoplan">Ketoplan</a></li>
            <li class="footer-expanded__item"><a href="https://live.besynchro.com/keto-cleanse">Keto Cleanse</a></li>
          </ul>
          <ul class="footer-expanded__list">
            <li class="footer-expanded__title">Powerfood</li>
            <li class="footer-expanded__item"><a href="https://live.besynchro.com/genesis">Genesis</a></li>
          </ul>
        </div>
        <div class="footer-expanded__articles">
          <ul class="footer-expanded__list">
            <li class="footer-expanded__title">Articles</li>
            <li class="footer-expanded__item"><a href="https://besynchro.com/blogs/blog/tagged/body-optimization">Body</a></li>
            <li class="footer-expanded__item"><a href="https://besynchro.com/blogs/blog/tagged/brain-enhancement">Brain</a></li>
            <li class="footer-expanded__item"><a href="https://besynchro.com/blogs/blog/tagged/nutrition">Nutrition</a></li>
            <li class="footer-expanded__item"><a href="https://besynchro.com/blogs/blog/tagged/recipes">Recipes</a></li>
            <li class="footer-expanded__item"><a href="https://besynchro.com/blogs/blog/tagged/keto">Keto</a></li>
          </ul>
        </div>
        <div class="footer-expanded__social">
          <ul class="footer-expanded__list">
            <li class="footer-expanded__title">Social</li>
            <li class="footer-expanded__item"><a href="http://www.facebook.com/be.synchro">Facebook</a></li>
            <li class="footer-expanded__item"><a href="https://www.instagram.com/synchro/">Instagram</a></li>
            <li class="footer-expanded__item"><a href="https://www.pinterest.com/besynchro/">Pinterest</a></li>
          </ul>
        </div>
        <div class="footer-expanded__logo">
          <a href="https://besynchro.com/">
            {% include 'landing_pages/global/logo-svg.html' %}
            <p class="p--text">www.besynchro.com</p>
          </a>
        </div>
      </div>
      <div class="footer-expanded__footnote">
        <div class="footer-expanded__footnote-copy">
          <p class="p--text"><span class="footer-expanded__copyright">© 2019. All rights reserved.</span>
            The statements on this website have not been evaluated by the Food and Drug Administration.<br>
            These products are not intended to diagnose, treat, cure or prevent any disease.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
