<a class="anchor" name="top"></a>
<!-- Main navigation with anchor links-->
<header class="expanded-header-container">
  <div class="expanded-header pseudo">
    <div class="container-fluid">
      <div class="row">
        <div class="expanded-header__content">
          <h1 class="expanded-header__logo">
            Synchro
            <a href="#top">
              {% include 'landing_pages/global/logo-svg.html' %}
            </a>
          </h1>
          <nav class="main-navigation">
            <a class="main-navigation__item" href="#benefits-2">Benefits</a>
            <a class="main-navigation__item" href="#technology-2">Technology</a>
            <a class="main-navigation__item" href="#ingredients-2">Ingredients</a>
            <a class="main-navigation__item" href="#reviews">Reviews</a>
            <a class="main-navigation__cta a--cta" role="button" href="#purchase">Shop Now</a>
          </nav>
          <div class="main-navigation__hamburger">
            <div class="main-navigation__stack"></div>
            <div class="main-navigation__stack"></div>
            <div class="main-navigation__stack"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="expanded-header">
    <div class="container-fluid">
      <div class="row">
        <div class="expanded-header__content">
          <h1 class="expanded-header__logo">
            Synchro
            <a href="#top">
              {% include 'landing_pages/global/logo-svg.html' %}
            </a>
          </h1>
          <nav class="main-navigation">
            <a class="main-navigation__item" href="#benefits-2">Benefits</a>
            <a class="main-navigation__item" href="#technology-2">Technology</a>
            <a class="main-navigation__item" href="#ingredients-2">Ingredients</a>
            <a class="main-navigation__item" href="#reviews">Reviews</a>
            <a class="main-navigation__cta a--cta" role="button" href="#purchase">Shop Now</a>
          </nav>
          <div class="main-navigation__hamburger">
            <div class="main-navigation__stack"></div>
            <div class="main-navigation__stack"></div>
            <div class="main-navigation__stack"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
