<a class="anchor" name="top"></a>
<!-- Shopify navigation-->
<header class="shopify-header-container">
  <div class="shopify-header pseudo"></div>
  <div class="shopify-header">
    <div class="shopify-header__content">
      <div class="main-navigation__hamburger">
        <div class="main-navigation__stack"></div>
        <div class="main-navigation__stack"></div>
        <div class="main-navigation__stack"></div>
      </div>
      <h1 class="shopify-header__logo">
        Synchro
        <a href="https://besynchro.com/">
          {% include 'landing_pages/global/logo-svg.html' %}
        </a>
      </h1>
      <nav class="main-navigation">
        <a class="main-navigation__item" href="https://besynchro.com/collections/gold">Turmeric Elixir</a>
        <a class="main-navigation__item" href="https://besynchro.com/collections/keto">Keto</a>
        <a class="main-navigation__item" href="https://besynchro.com/products/genesis">Powerfoods</a>
        <a class="main-navigation__item" href="https://besynchro.com/collections/microbiome">Microbiome</a>
        <a class="main-navigation__item" href="https://besynchro.com/collections/shop">| Shop All |</a>
      </nav>
    </div>
  </div>

</header>
