<div class="flash-sale-banner pseudo">
  <p class="p--text flash-sale-banner__text"><span class="p--demi">30% Off</span> <span class="flash-sale-banner__desktop">Limited Time </span>Black Friday Week<span class="flash-sale-banner__desktop"> Discount</span></p>
  <a role="button">
    <div class="a--cta">Buy now</div>
  </a>
</div>
<div class="flash-sale-banner">
  <p class="p--text flash-sale-banner__text"><span class="p--demi">30% Off</span> <span class="flash-sale-banner__desktop">Limited Time </span>Black Friday Week<span class="flash-sale-banner__desktop"> Discount</span></p>
  <a role="button" href="#purchase">
    <div class="a--cta">Buy now</div>
  </a>
</div>
