{% extends "landing_pages/keto-cleanse/base.html" %}

{% block content %}

<section class="keto-cleanse kcp-weekly week-3">
  {% include 'landing_pages/keto-cleanse/week-3/v1-0/atf.html' %}
  {% include 'landing_pages/keto-cleanse/week-3/v1-0/intro.html' %}
  {% include 'landing_pages/keto-cleanse/week-3/v1-0/goals.html' %}
  {% include 'landing_pages/keto-cleanse/week-3/v1-0/timeline.html' %}
  {% include 'landing_pages/keto-cleanse/week-3/v1-0/videos.html' %}
  {% include 'landing_pages/global/footer.html' %}
</section>

{% endblock %}
