{% extends "landing_pages/global/base.html" %}

{% block title %} Synchro Gold | The World's Most Powerful Turmeric Supplement {% endblock %}

{% block description %} Gold Liposomal Turmeric was created after years of research and development to give you the perfect tool for fighting inflammation and maximizing energy levels. See how much better you can feel with the world's most powerful turmeric supplement. {% endblock %}

{% block head %}

{{ super() }}

<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
{% endblock %}
