{% extends "landing_pages/reviews/gold-elixir/0-base.html" %}

{% block content %}

<section class="gold-lp gold-capsules testimonials-lp">
  {% include 'landing_pages/global/header-shopify.html' %}
  {% include 'landing_pages/reviews/gold-elixir/atf.html' %}
  {% include 'landing_pages/reviews/gold-elixir/testimonials.html' %}
  {% include 'landing_pages/gold-capsules/v1-0/reviews.html' %}
  {% include 'landing_pages/gold-capsules/v1-0/purchase.html' %}
  {% include 'landing_pages/global/footer-expanded.html' %}
</section>

{% endblock %}
