<section class="testimonials-cards">
  {% include 'landing_pages/reviews/gold-elixir/testimonials/connie-graber.html' %}
  {% include 'landing_pages/reviews/gold-elixir/testimonials/chaundra-cauthen.html' %}
  {% include 'landing_pages/reviews/gold-elixir/testimonials/pat-killorin.html' %}
  {% include 'landing_pages/reviews/gold-elixir/testimonials/tina-cecil.html' %}
  {% include 'landing_pages/reviews/gold-elixir/testimonials/portia-solano.html' %}
  {% include 'landing_pages/reviews/gold-elixir/testimonials/paul-tracy.html' %}
  {% include 'landing_pages/reviews/gold-elixir/testimonials/caroline-schultz.html' %}
  {% include 'landing_pages/reviews/gold-elixir/testimonials/carolyn-mccaffrey.html' %}
  {% include 'landing_pages/reviews/gold-elixir/testimonials/virginia-mitchell.html' %}
</section>
