{% extends "landing_pages/gold-capsules/base.html" %}

{% block content %}

<section class="gold-lp gold-capsules">
  {% include 'landing_pages/global/header-expanded.html' %}
  {% include 'landing_pages/gold-capsules/v1-0/atf.html' %}
  {% include 'landing_pages/gold-capsules/v1-0/benefits.html' %}
  {% include 'landing_pages/gold-capsules/v1-0/technology.html' %}
  {% include 'landing_pages/gold-capsules/v1-0/instagram-1.html' %}
  {% include 'landing_pages/gold-capsules/v1-0/ingredients.html' %}
  {% include 'landing_pages/gold-capsules/v1-0/instagram-2.html' %}
  {% include 'landing_pages/gold-capsules/v1-0/purchase.html' %}
  {% include 'landing_pages/gold-capsules/v1-0/reviews.html' %}
  {% include 'landing_pages/gold-capsules/v1-0/faq.html' %}
  {% include 'landing_pages/gold-capsules/v1-0/cta.html' %}
  {% include 'landing_pages/gold-capsules/v1-0/research.html' %}
  {% include 'landing_pages/gold-capsules/v1-0/references.html' %}
  {% include 'landing_pages/global/footer.html' %}
  {% include 'landing_pages/global/aos.html' %}
</section>

{% endblock %}
