{% extends "landing_pages/gold-og/base.html" %}

{% block content %}

<section class="gold-lp gold-og">
  {% if not returning %}
    {% include 'landing_pages/gold-og/v1-0/top-offer-bar.html' %}
  {% endif %}
  {% include 'landing_pages/global/header.html' %}
  {% include 'landing_pages/gold-og/v1-0/atf.html' %}
  {% include 'landing_pages/gold-og/v1-0/benefits.html' %}
  {% include 'landing_pages/gold-og/v1-0/technology.html' %}
  {% include 'landing_pages/gold-og/v1-0/ingredients.html' %}
  {% include 'landing_pages/gold-og/v1-0/instagram.html' %}
  {% if not returning %}
    {% include 'landing_pages/gold-og/v1-0/purchase.html' %}
  {% endif %}
  {% if returning %}
    {% include 'landing_pages/gold-og/v1-0-returning/purchase.html' %}
  {% endif %}
  {% include 'landing_pages/gold-og/v1-0/reviews.html' %}
  {% include 'landing_pages/gold-og/v1-0/faq.html' %}
  {% include 'landing_pages/gold-og/v1-0/references.html' %}
  {% include 'landing_pages/global/footer-expanded.html' %}
</section>

{% endblock %}
