<a class="anchor" name="benefits"></a>
<section class="benefits">
  <h3 class="p--title">Benefits</h3>
  <div class="benefits__point">
    <img class="benefits__icon" src="https://cdn.besynchro.com/gold/v2-0/benefit-gold-inflammation.svg">
    <h4 class="benefits__header p--text">Supports Healthy Inflammation Response</h4>
    <div class="benefits__copy">
      <img class="benefits__image" src="https://cdn.besynchro.com/gold/v2-0/benefits-inflammation-fighting.jpg">
      <div class="benefits__text">
        <p class="p--text">When our bodies are inflamed, we feel achy and sluggish, and our brain feels like it’s lost in a fog.</p>
        <p class="p--text">Synchro Gold fights inflammation using cutting-edge nutrient delivery technologies to dramatically increase the bioavailability of turmeric alkaloids and amplify their healing effects in the body.<span class="p--superscript">[1]</span></p>
      </div>
    </div>
    {% include 'landing_pages/global/icon-toggle-more.html' %}
  </div>
  <div class="benefits__point">
    <img class="benefits__icon" src="https://cdn.besynchro.com/gold/v2-0/benefit-gold-joint-pain.svg">
    <h4 class="benefits__header p--text">Dramatically Improves Joint Health</h4>
    <div class="benefits__copy">
      <img class="benefits__image" src="https://cdn.besynchro.com/gold/v2-0/benefits-joint-health.jpg">
      <div class="benefits__text">
        <p class="p--text">Remember when you could go for a run or workout without feeling sore? It’s unfortunately not possible to fully get back your 25-year-old body, but you can still do a lot to reduce the aches and soreness.</p>
        <p class="p--text">Synchro Gold restores a healthy inflammation response in the joints, allowing you to live the life you want without having to worry about your joints and muscles getting in the way.</p>
      </div>
    </div>
    {% include 'landing_pages/global/icon-toggle-more.html' %}
  </div>
  <div class="benefits__point">
    <img class="benefits__icon" src="https://cdn.besynchro.com/gold/v2-0/benefit-gold-brain-health.svg">
    <h4 class="benefits__header p--text">Improves Brain Health and Function</h4>
    <div class="benefits__copy">
      <img class="benefits__image" src="https://cdn.besynchro.com/gold/v2-0/benefits-brain-health.jpg">
      <div class="benefits__text">
        <p class="p--text">The impacts of inflammation are not limited to the body - the brain suffers too. As studies have repeatedly shown, an inflamed brain leads to sluggish thinking and a cloudy mind.<span class="p--superscript">[1]</span></p>
        <p class="p--text">Turmeric is extremely effective in combating inflammation in the brain, resulting in significant improvements in both cognitive function, mood and memory. Furthermore, turmeric is a strong neuroprotective that has shown
          promise in slowing the progression of neurological diseases like Alzheimer’s and depression.<span class="p--superscript">[2]</span></p>
      </div>
    </div>
    {% include 'landing_pages/global/icon-toggle-more.html' %}
  </div>
  <div class="benefits__point">
    <img class="benefits__icon" src="https://cdn.besynchro.com/gold/v2-0/benefit-gold-healing.svg">
    <h4 class="benefits__header p--text">Stimulates the Body's Natural Healing Process</h4>
    <div class="benefits__copy">
      <img class="benefits__image" src="https://cdn.besynchro.com/gold/og-v1-0/benefits-og-healing-process.jpg">
      <div class="benefits__text">
        <p class="p--text">Synthetic prescription and over-the-counter drugs conventionally used to treat inflammation rapidly build tolerance, leading the body into a toxic cycle of drug-dependence.<span class="p--superscript">[3]</span></p>
        <p class="p--text">Remarkably, Synchro Gold has the opposite effect, stimulating the body’s natural healing mechanisms: antioxidant enzymes and stem cell growth. This encourages the body to gradually return to and maintain a state of youth
          and
          vitality.<span class="p--superscript">[4]</span></p>
      </div>
    </div>
    {% include 'landing_pages/global/icon-toggle-more.html' %}
  </div>
  <div class="clearfix"></div>
</section>
