{% extends "landing_pages/global/base.html" %}

{% block title %} Synchro Genesis | Metabolism-Boosting Superfood Shake {% endblock %}

{% block description %} Drink one a day. Prepare to feel amazing. Genesis uses an innovative blend of nutrient-rich functional foods so you can feel truly alive, all day, every day. Come taste what years of research and development has led to. {% endblock %}

{% block head %}

{{ super() }}

<!-- facebook pixel -->
<script>
  !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
      document,'script','https://connect.facebook.net/en_US/fbevents.js');

    fbq('init', '495265410669440');
    fbq('track', 'PageView', {
      property: 'Synchro-Genesis'
    });
  </script>
<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=495265410669440&ev=PageView&cd[property]=Synchro-Genesis&noscript=1" /></noscript>

<link rel="canonical" href="https://genesis.besynchro.com/">

<!-- Custom styles for this template -->

{% endblock %}
