{% extends "landing_pages/genesis/genesis_base.html" %}

{% block content %}
<!-- Top Navigation -->
<header class="main-header-container">
  <div class="main-header">
    <div class="container-fluid">
      <div class="row">
        <button class="main-navigation__mobile hidden-lg-up">
          <div class="main-navigation__hamburger"></div>
          <div class="main-navigation__hamburger"></div>
          <div class="main-navigation__hamburger"></div>
        </button>
        <div class="main-header__logo">
          <img class="synchro-logo" src="http://cdn.besynchro.com/gold/logo-retina.png?2210952882354881356"> <!-- SVG preferred -->
        </div>
        <a class="main-header__cta a--cta" role="button" href="#purchase">Buy</a>
        <nav class="main-navigation">
          <a class="main-navigation__item" href="#overview">Overview</a>
          <a class="main-navigation__item" href="#benefits">Benefits</a>
          <a class="main-navigation__item" href="#features">Ingredients</a>
          <a class="main-navigation__item" href="#use">Use</a>
          <a class="main-navigation__item" href="#reviews">Reviews</a>
          <a class="main-navigation__item" href="#faq">FAQ</a>
        </nav>
      </div>
    </div>
  </div>
</header>

<section class="container-fluid">
  <div class="row">
    <div class="main-banner">
      <h1 class="main-banner__headline">Drink one a day. Your body and brain will thank you.</h1>
      <img class="main-banner__image hidden-sm-down" src="http://cdn.besynchro.com/genesis/images/product-header1.jpg">
    </div>
  </div>
</section>

{% endblock %}

<!-- FOOTER -->
{% block footer %} {{ super() }} {% endblock %}
{% block footer_content %}
  <div class="container-fluid">
    <div class="row">
      <div class="footer__left">
        <a class="footer__text" href="http://genesis.besynchro.com/">© Synchro Genesis 2017</a>
      </div>
      <div class="footer__right">
        <a class="footer__text" href="http://besynchro.com/pages/contact-us">Reach out! We'd Love to Hear From You!</a>
        <a class="footer__text" href="http://besynchro.com/pages/privacy-policy">Privacy Policy</a>
        <a class="footer__text" href="http://besynchro.com/pages/returns-policy">Returns Policy</a>
      </div>
    </div>
  </div>
{% endblock %}