{% extends "landing_pages/gold-capsules/base.html" %}

{% block content %}

<section class="gold-lp gold-capsules">
  {% include 'landing_pages/global/header.html' %}
  {% include 'landing_pages/gold-capsules/v1-0/atf.html' %}
  {% include 'landing_pages/gold-capsules/v1-0/benefits.html' %}
  {% include 'landing_pages/gold-capsules/v1-0/superior.html' %}
  {% include 'landing_pages/gold-capsules/v1-0/quality.html' %}
  {% include 'landing_pages/gold-capsules/v1-0/ingredients.html' %}
  {% include 'landing_pages/gold-capsules/v1-0/testimonials.html' %}
  {% include 'landing_pages/gold-capsules/v1-0/purchase.html' %}
  {% include 'landing_pages/gold-capsules/v1-0/reviews.html' %}
  {% include 'landing_pages/gold-capsules/v1-0/faq.html' %}
  {% include 'landing_pages/gold-capsules/v1-0/references.html' %}
  {% include 'landing_pages/global/footer.html' %}
</section>

{% endblock %}
