{% extends "landing_pages/susan_landing_base.html" %}
{% block title %} The World's Most Powerful Turmeric Elixir {% endblock %}
{% block head %}

{{ super() }}

<!-- facebook pixel -->
<script>
  !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
      document,'script','https://connect.facebook.net/en_US/fbevents.js');

    fbq('init', '495265410669440');
    fbq('track', 'PageView', {
      property: 'Synchro-Gold'
    });
  </script>
<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=495265410669440&ev=PageView&cd[property]=Synhcro-Gold&noscript=1" /></noscript>

<!-- VideoJS - TODO: Why is there a weird line when I include this via fanstatic but not here??? -->
<link href="http://vjs.zencdn.net/5.8.8/video-js.css" rel="stylesheet">

<link rel="canonical" href="http://gold.besynchro.com/">

<!-- Custom styles for this template -->
<link href="{{ url_for('static', filename='css/'+stylesheet) }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/animate.css') }}" rel="stylesheet">
<!-- Google fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Raleway:300,400,700" rel="stylesheet">
<!-- Font Awesome -->
<script src="https://use.fontawesome.com/b3f7794244.js"></script>

<meta name="google-site-verification" content="ZhbX-aVaeZXWEolRbslrE7EU9M9ROJmkTb8Wb63jzOA" />
<meta name="google-site-verification" content="7f8BFFtINsQrTL7If4hePO9SMRkzdnEp5a-I4JWr8ZE" /> <!-- for www.synchrogold.com -->

<script type='text/javascript'>
(function(){
    function load_button_1(){
        var this_id = 'ch-buy-button-corejs-A7MV1BXtRMYBSjohN17b';
        var remove = document.getElementById(this_id);
        if(remove){
            remove.parentNode.removeChild(remove);
        }
        var script=document.createElement('script');
        script.setAttribute('src', 'https://api.c.carthook.com//api/v1/code/A7MV1BXtRMYBSjohN17b/buyButton.js?style=style1');
        script.setAttribute('type', 'text/javascript');
        script.setAttribute('id', this_id);
        document.getElementsByTagName('head')[0].appendChild(script);
    }
    function load_button_css(){
        var this_id = 'ch-buy-button-css-A7MV1BXtRMYBSjohN17b';
        var remove = document.getElementById(this_id);
        if(remove){
            remove.parentNode.removeChild(remove);
        }
        var link=document.createElement('link');
        link.id=this_id;
        link.rel='stylesheet';
        link.type='text/css';
        link.href='https://api.c.carthook.com//api/v1/code/A7MV1BXtRMYBSjohN17b/buyButton.css?style=style1';
        link.media='all';
        link.addEventListener('load', function(){
            load_button_1();
        });
        document.getElementsByTagName('head')[0].appendChild(link);
    }
    load_button_css();
})();
if(typeof chTranslationVariables == 'undefined'){
    var chTranslationVariables = { "A7MV1BXtRMYBSjohN17b" : {"$defVariant":"all","$quantity":"Quantity","$maxQuantity":10,"$buyText":"BUY NOW","$buyTextBackground":"#2f90d9","$buyTextColor":"#FFFFFF","$validation2":"Sorry! This item is currently not available in this"} };
} else {
    chTranslationVariables["A7MV1BXtRMYBSjohN17b"] = {"$defVariant":"all","$quantity":"Quantity","$maxQuantity":10,"$buyText":"BUY NOW","$buyTextBackground":"#2f90d9","$buyTextColor":"#FFFFFF","$validation2":"Sorry! This item is currently not available in this"};
}
</script>

{% endblock %}

{% block footer %}
<div class="footer">
  {% block footer_content %}{% endblock %}
</div>
{% endblock %}