#genesis-lp {
  .main-header-container {
    .a--cta {
      background: $color-genesis;
    }
  }

  .atf {
    &.bg-full-width {
      background-image: url("https://cdn.besynchro.com/genesis/v2-0/atf-image-genesis.jpg");
      max-height: none;
      @include sm-screen {
        background-image: url("https://cdn.besynchro.com/genesis/v2-0/atf-image-small-genesis.jpg");
        background-position: center;
      }
    }

    &__header {
      transform: translate(-100%, -50%);
      max-width: 550px;
      font-size: 50px;
      @include m-screen {
        transform: translate(0, -50%);
        max-width: 50%;
        left: 5%;
      }
      @include sm-screen {
        position: initial;
        transform: none;
        padding-top: 130px;
        font-size: 40px;
        max-width: none;
      }
      @include xs-screen {
        padding-top: 100px;
        max-width: 370px;
      }
    }
  }

  .ingredients {
    &__genesis {
      font-size: 0;
      padding: 0 $gutter-desktop $gutter-desktop;
      @include s-screen {
        padding: 0 $gutter-mobile $gutter-desktop;
      }

      &-keystone-img {
        display: inline-block;
        width: 50%;
        vertical-align: middle;
        padding: $gutter-desktop;
        @include m-screen {
          display: block;
          width: auto;
          max-width: 70%;
          margin: 0 auto;
          padding: $gutter-tablet;
          @include s-screen {
            max-width: 100%;
            padding: $gutter-mobile;
          }
        }
      }

      &-keystone {
        display: inline-block;
        width: 50%;
        text-align: left;
        vertical-align: middle;
        @include m-screen {
          width: 100%;
          text-align: center;
        }
      }

      &-details {
        box-shadow: 5px 5px 0 $color-gray-dark;
        margin: 40px 0;
        border: 2px solid $color-gray-dark;
      }

      &-info {
        display: inline-block;
        width: 50%;
        padding: 0 40px;
        text-align: left;
        border-right: 2px solid $color-gray-dark;

        &:last-child {
          border: none;
        }
      }
    }
  }

  .facts {
    &__genesis {
      text-align: center;
      background: url("https://cdn.besynchro.com/genesis/v2-0/bg-pattern-genesis.jpg") center;
      background-size: cover;
      padding: $gutter-desktop;
      @include sm-screen {
        padding: $gutter-tablet;
      }
      @include s-screen {
        padding: $gutter-mobile;
      }

      img {
        max-height: 685px;
      }
    }
  }

  .directions {
    &__genesis {
      padding: $gutter-desktop $gutter-desktop 0;
      @include m-screen {
        padding: $gutter-mobile $gutter-mobile 0;
      }

      &-wrapper {
        background: $color-gray-light;
        text-align: center;
        font-size: 0;
        max-width: 1200px;
        margin: 0 auto;
      }

      &-copy {
        width: 50%;
        display: inline-block;
        vertical-align: middle;
        padding: 0 $gutter-desktop $gutter-desktop;
        @include m-screen {
          padding: 0 $gutter-tablet $gutter-tablet;
        }
        @include sm-screen {
          width: 100%;
        }
        @include s-screen {
          padding: 0 $gutter-mobile;
        }
      }

      &-image-box {
        width: 50%;
        background: url("https://cdn.besynchro.com/genesis/v2-0/directions-genesis.jpg") center;
        display: inline-block;
        background-size: cover;
        @include sm-screen {
          box-shadow: inset 0 130px 80px -80px $color-gray-light;
          width: 100%;
        }
      }

      &-image {
        visibility: hidden;
        max-height: 600px;
        @include sm-screen {
          max-height: none;
          width: 100%;
        }
      }
    }
  }

  .purchase {
    .option-1 {
      background-image: url("https://cdn.besynchro.com/genesis/v2-0/genesis-1.png");
    }

    .option-2 {
      background-image: url("https://cdn.besynchro.com/genesis/v2-0/genesis-2.png");
    }

    .option-3 {
      background-image: url("https://cdn.besynchro.com/genesis/v2-0/genesis-bag.png");
    }

    .discount {
      @include discount ($color-genesis)
    }
  }
}
