.genesis-lp {
  overflow-x: hidden;

  .a--cta {
    background: #D65667;
  }

  .main-navigation__item:nth-child(2) {
    display: none;
  }

  .benefits {
    max-width: 1600px;
    margin: 0 auto;
    padding: $gutter-large $gutter-medium $gutter-small;
    @include s-screen {
      padding: $gutter-medium $gutter-small $gutter-small;
    }

    &__icon {
      height: 100px;
      @include s-screen {
        height: 70px;
      }
    }

    &__header {
      font-weight: $font-demi;
      font-size: 24px;
      line-height: initial;
      text-transform: none;
      letter-spacing: 0;
    }

    &__point {
      margin-bottom: 0;
      @include m-screen {
        width: 25%;
      }
      @include sm-screen {
        width: 50%;
      }
    }

    &__intro {
      background: #FAF7F3;
      padding: $gutter-large $gutter-large $gutter-medium;
      text-align: center;
      margin: $gutter-small;
      @include m-screen {
        padding: $gutter-medium $gutter-medium $gutter-small;
      }
      @include s-screen {
        padding: $gutter-small $gutter-small 0;
        margin: 0;
        overflow: auto;
      }

      .p--text {
        font-weight: $font-medium;
        font-size: 24px;
        opacity: 0.5;
        max-width: 750px;
      }
    }

    &__intro-headline {
      font-size: 30px;
      font-weight: $font-demi;
      max-width: 750px;
      margin: 0 auto;
    }
  }

  .ingredients {
    &__icons {
      background: $color-genesis;
    }

    &__icon-box {
      width: 20%;
      @include xs-screen {
        width: 50%;
      }
    }

    &__item-box {
      width: 50%;
      @include xl-screen {
        width: 33.33%;
      }
      @include m-screen {
        width: 100%;
      }
    }

    &__genesis {
      font-size: 0;
      padding: 0 $gutter-large $gutter-large;
      @include s-screen {
        padding: 0 $gutter-small $gutter-large;
      }

      &-details {
        box-shadow: 5px 5px 0 $color-silver-dark;
        margin: 40px 0;
        border: 2px solid $color-silver-dark;
      }

      &-info {
        display: inline-block;
        width: 50%;
        padding: 0 40px;
        text-align: left;
        border-right: 2px solid $color-silver-dark;

        &:last-child {
          border: none;
        }
      }
    }
  }

  .ingredients-2 {
    &__item-box {
      width: 50%;
      @include s-screen {
        width: 100%;
      }
    }

    &__facts {
      background: url("https://cdn.besynchro.com/genesis/v2-0/bg-pattern-genesis.jpg") center;
    }
  }

  .facts {
    &__genesis {
      text-align: center;
      background: url("https://cdn.besynchro.com/genesis/v2-0/bg-pattern-genesis.jpg") center;
      background-size: cover;
      padding: $gutter-medium;
      @include s-screen {
        padding: $gutter-small;
      }

      img {
        max-height: 500px;
        max-width: 100%;
      }
    }
  }

  .instagram-slider {
    background-image: url("https://cdn.besynchro.com/genesis/v3-0/genesis-insta-bg%402x.png");

    &__profile {
      img {
        width: 30px;
        height: 30px;
      }
    }

    &__quote {
      font-size: 25px;
    }
  }

  .directions {
    &__genesis {
      padding: $gutter-large;
      @include m-screen {
        padding: $gutter-small;
      }

      &-wrapper {
        background: #FAF7F3;
        text-align: center;
        font-size: 0;
        max-width: 1200px;
        margin: 0 auto;
      }

      &-copy {
        width: 50%;
        display: inline-block;
        vertical-align: middle;
        padding: 0 $gutter-large $gutter-large;
        @include m-screen {
          padding: 0 $gutter-medium $gutter-medium;
        }
        @include sm-screen {
          width: 100%;
        }
        @include s-screen {
          padding: 0 $gutter-small $gutter-medium;
        }
      }

      &-image-box {
        width: 50%;
        background: url("https://cdn.besynchro.com/genesis/v3-0/directions-genesis@2x.jpg") center;
        display: inline-block;
        background-size: cover;
        @include sm-screen {
          box-shadow: inset 0 130px 80px -80px $color-silver-light;
          width: 100%;
        }
      }

      &-image {
        visibility: hidden;
        max-height: 600px;
        @include sm-screen {
          max-height: none;
          width: 100%;
        }
      }
    }
  }

  .purchase {
    .option-1 {
      background-color: #C4CBDD;
      background-image: url("https://cdn.besynchro.com/genesis/v2-0/genesis-1.png");
      background-image: url("https://cdn.besynchro.com/genesis/v2-0/genesis-1.png"), linear-gradient(90deg, #C4CBDD, #C0E3DF);
    }

    .option-2 {
      background-color: #C4CBDD;
      background-image: url("https://cdn.besynchro.com/genesis/v2-0/genesis-2.png");
      background-image: url("https://cdn.besynchro.com/genesis/v2-0/genesis-2.png"), linear-gradient(90deg, #C4CBDD, #C0E3DF);
    }

    .option-3 {
      background-color: #C4CBDD;
      background-image: url("https://cdn.besynchro.com/genesis/v2-0/genesis-bag.png");
      background-image: url("https://cdn.besynchro.com/genesis/v2-0/genesis-bag.png"), linear-gradient(90deg, #C4CBDD, #C0E3DF);
    }
  }

  .synchro-reviews {
    padding-top: $gutter-medium;
  }

  .faq {
    .icon-toggle-more {
      background: $color-genesis;
    }

    .footnote {
      font-size: 15px;
      max-width: 750px;
      font-weight: $font-medium;
      opacity: 0.5;
    }
  }
}
