.gold-lp {
  a.anchor {
    top: -35px;
  }

  .top-offer-bar {
    @include xs-screen {
      .a--cta {
        display: none;
      }
    }
  }

  .main-header {
    position: initial;

    .a--cta {
      @include cta-custom($color-gold, white);
      display: none;
    }

    &.floated {
      .a--cta {
        display: block;
      }
    }

    &__content {
      height: 40px;
    }
  }

  #videoModal {
    .modal-dialog {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
      width: 90%;
      max-width: 1000px;
    }

    .modal-body {
      padding: 5px;
    }

    .embed-container {
      position: relative;
    }

    .close {
      position: absolute;
      right: -40px;
      font-size: 40px;
      color: rgba(0,0,0,0.5);
      opacity: 1;
      font-weight: 100;
      outline: none;
      background: white;
      padding: 1px 10px;
      z-index: -1;
    }

    .iframe-container {
      position: relative;
      width: 100%;
      padding-bottom: 56.25%;
      height: 0;
    }

    .iframe-container iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .atf {
    display: table;
    width: 100%;

    &__video {
      position: relative;
      width: 50%;
      display: table-cell;
      background-image: url("https://cdn.besynchro.com/experiments/cro015-atf-video%402x.jpg");
      background-size: cover;
      background-position: right;
      @include sm-screen {
        display: none;
      }
    }

    &__video-btn {
      position: absolute;
      top: 53%;
      left: 50%;
      cursor: pointer;
      transform: translate(-50%,-50%);
      font-weight: $font-demi;
      font-size: 16px;
      color: $color-ivory;
      letter-spacing: 1px;
      text-transform: uppercase;
      background: none;
      border: 0;
      outline: none;
      -webkit-appearance: button;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -webkit-font-smoothing: antialiased;

      &::before {
        content: "";
        display: block;
        position: relative;
        left: 50%;
        transform: translate(-26px, -15px);
        border-top: 32px solid transparent;
        border-left: 52px solid white;
        border-bottom: 32px solid transparent;
      }
    }

    &__video-bar {
      position: absolute;
      left: 55px;
      right: 30px;
      bottom: 28px;
      background: rgba(255,255,255,0.5);
      height: 2px;

      &::before {
        content: "";
        display: block;
        position: relative;
        left: -25px;
        top: -7px;
        border-top: 8px solid transparent;
        border-left: 12px solid white;
        border-bottom: 8px solid transparent;
      }

      &::after {
        content: "";
        height: 18px;
        width: 18px;
        background: white;
        top: -23px;
        position: relative;
        display: block;
        border-radius: 9px;
      }
    }

    &__video-mobile {
      display: none;
      @include sm-screen {
        display: block;
      }

      .iframe-container {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%;
        height: 0;
      }

      .iframe-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    &__copy {
      width: 50%;
      display: table-cell;
      background-image: linear-gradient(90deg, #F3B37E, #F2C97F);
      text-align: center;
      padding: 30px $gutter-medium;
      @include sm-screen {
        width: 100%;
        display: block;
      }
    }

    &__header {
      position: initial;
      transform: none;
      font-size: 45px;
      letter-spacing: 1.5px;
      color: $color-ivory;
      width: auto;
      max-width: 600px;
      line-height: initial;
      font-weight: 600;
      @include s-screen {
        max-width: 440px;
        font-size: 35px;
      }
    }

    &__subheader {
      font-size: 24px;
      color: $color-ivory;
      margin: 25px auto;
      line-height: 1.4;
      max-width: 450px;
    }

    &__benefits {
      margin: 10px 40px 0;
      @include sm-screen {
        display: none;
      }
    }

    &__benefit {
      margin: 10px 0;
      @include sm-screen {
        float: left;
        width: 50%;
        padding: 0 5px;
      }
    }

    &__benefit-img {
      height: 40px;
      display: inline-block;
      @include s-screen {
        height: 70px;
        margin: 20px auto 10px;
        display: block;
      }
    }

    &__benefit-check {
      color: #8C5300;
    }

    &__benefit-point {
      display: inline-block;
      font-size: 22px;
      color: $color-ivory;
      padding-left: 10px;
      margin: 0;
      line-height: 1.2;
      @include s-screen {
        padding: 0;
        font-size: 20px;
      }
    }

    .a--cta {
      font-size: 18px;
      padding: 16px 35px;
      margin-bottom: 10px;
      background-color: #39447C;
      border-radius: 40px;
      @include sm-screen {
        margin-bottom: 0;
      }

      &.cta--secondary {
        background: none;
        color: $color-ebony;
      }
    }
  }

  .benefits {
    margin-top: 40px;

    &__header {
      max-width: none;
    }
  }

  .rating {
    &__stars {
      #rating__star {
        height: 30px;
        margin: 0 2px;
      }
    }

    &__icon {
      fill: #39447C;
    }

    &__count {
      font-weight: $font-demi;
      color: #39447C;
      text-align: center;
      opacity: 1;
      margin: 5px 0 20px;

      &:before {
        content: "1350+ 5-Star";
      }
    }
  }

  .icon-learn-more {
    &__circle {
      stroke: none;
      fill: $color-gold;
    }

    &__plus {
      fill: $color-ivory;
    }
  }

  .ingredients {
    &__icons {
      background: $color-gold;
      @include s-screen {
        background: $color-silver-light;
        padding: 40px 20px 10px;
      }
    }

    &__icon-box {
      .p--text {
        @include s-screen {
          color: $color-ebony;
          font-weight: $font-medium;
        }
      }
    }
  }

  .purchase {
    .option-1 {
      background-color: #eda267;
      background-image: url("https://cdn.besynchro.com/gold/v2-0/gold-lg1.png");
      background-image: url("https://cdn.besynchro.com/gold/v2-0/gold-lg1.png"), linear-gradient(90deg, #eda267, #edbe67);
    }

    .option-2 {
      background-color: #eda267;
      background-image: url("https://cdn.besynchro.com/gold/v2-0/gold-lg2.png");
      background-image: url("https://cdn.besynchro.com/gold/v2-0/gold-lg2.png"), linear-gradient(90deg, #eda267, #edbe67);
    }

    .option-3 {
      background-color: #eda267;
      background-image: url("https://cdn.besynchro.com/gold/v2-0/gold-lg4.png");
      background-image: url("https://cdn.besynchro.com/gold/v2-0/gold-lg4.png"), linear-gradient(90deg, #eda267, #edbe67);
    }
  }
}
// STYLES FOR GOLD ORIGINAL ONLY

.gold-og {
  .purchase {
    .option-1 {
      background-color: #eda267;
      background-image: url("https://cdn.besynchro.com/gold/og-v1-0/gold-og1.png");
      background-image: url("https://cdn.besynchro.com/gold/og-v1-0/gold-og1.png"), linear-gradient(90deg, #eda267, #edbe67);
    }

    .option-2 {
      background-color: #eda267;
      background-image: url("https://cdn.besynchro.com/gold/og-v1-0/gold-og2.png");
      background-image: url("https://cdn.besynchro.com/gold/og-v1-0/gold-og2.png"), linear-gradient(90deg, #eda267, #edbe67);
    }

    .option-3 {
      background-color: #eda267;
      background-image: url("https://cdn.besynchro.com/gold/og-v1-0/gold-og4.png");
      background-image: url("https://cdn.besynchro.com/gold/og-v1-0/gold-og4.png"), linear-gradient(90deg, #eda267, #edbe67);
    }
  }
}
// STYLES FOR GOLD ADWORDS ONLY

.gold-adwords {
  .technology__tabs-desktop {
    padding-bottom: $gutter-large;
    @include sm-screen {
      padding-bottom: $gutter-medium;
    }
  }

  &.no-wave {
    .atf {
      &:after {
        content: none;
      }
    }
  }
}

.gold-capsules {
  a.anchor {
    top: -60px;
  }

  .atf {
    @include sm-screen {
      display: block;
    }

    &__video {
      overflow: hidden;
      width: 25%;
      transition: all 0.3s ease-in-out;
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("https://cdn.besynchro.com/gold/capsules/gold-cap-atf-video%402x.jpg");
      background-position: center;

      &:hover {
        width: 50%;
      }
    }

    &__copy {
      font-size: 0;
      padding: $gutter-medium;
      @include s-screen {
        padding: 30px $gutter-small;
      }
    }

    &__content {
      display: inline-block;
      vertical-align: middle;
      @include xs-screen {
        width: 100%;
      }
    }

    &__hero-image {
      background-image: url("https://cdn.besynchro.com/gold/capsules/product-tiles-gold-cap%402x.png");
      display: table-cell;
      background-size: cover;
      width: 25%;
      @include sm-screen {
        height: 200px;
        width: 100%;
        display: block;
      }
      @include xs-screen {
        padding: 20px 0 0;
        width: 100%;
      }
    }

    &__header {
      font-size: 60px;
      font-weight: $font-bold;
      margin: $gutter-small 0;
      letter-spacing: 0;
      @include s-screen {
        margin: 10px 0;
        font-size: 40px;
      }
    }

    &__subheader {
      font-size: 35px;
      margin: $gutter-small auto;
      @include s-screen {
        margin-top: 10px;
        font-size: 28px;
      }
    }

    &__video-mobile {
      @include sm-screen {
        margin: 20px;
        border-radius: 20px;
        overflow: hidden;
      }
    }

    .a--cta {
      margin: 0;
    }
  }

  .faq {
    &__title {
      padding-top: $gutter-large;
      font-weight: $font-bold;
      font-size: 30px;
      margin-bottom: 40px;
      @include m-screen {
        padding-top: $gutter-medium;
      }
      @include s-screen {
        font-size: 25px;
      }
    }
  }

  .hero-cta {
    background: linear-gradient(0deg, #ffffff 35%, #F3EEE7 35%);
    padding: $gutter-medium $gutter-large $gutter-large;
    margin-top: $gutter-small;
    text-align: center;
    @include s-screen {
      background: linear-gradient(0deg, #faf7f3 35%, #F3EEE7 35%);
      padding: $gutter-small $gutter-small $gutter-medium;
    }

    &__header {
      font-weight: $font-bold;
      font-size: 50px;
      margin: 30px 0;
      @include s-screen {
        font-size: 40px;
      }
    }

    img {
      width: 100%;
      max-width: 450px;
      display: block;
      margin: 0 auto $gutter-medium;
    }

    .a--cta {
      font-size: 18px;
      padding: 20px 35px;
      background-color: #39447C;
      border-radius: 40px;
    }
  }

  .research {
    background: $color-silver-light;
    padding: $gutter-large $gutter-large $gutter-small;
    font-size: 0;
    @include m-screen {
      padding: $gutter-medium $gutter-small 0;
    }
    @include s-screen {
      display: none;
    }

    &__intro {
      font-weight: $font-demi;
      font-size: 30px;
      opacity: 0.6;
      text-align: center;
      max-width: 800px;
      margin: 0 auto 25px;
      padding: 0 40px;
    }

    &__point {
      width: 50%;
      display: inline-block;
      vertical-align: top;
      padding: 25px 40px;
    }

    &__header {
      font-weight: $font-bold;
      font-size: 40px;
      line-height: initial;
    }

    &__copy {
      font-weight: $font-medium;
      font-size: 24px;
      opacity: 0.5;
    }
  }

  .references {
    text-align: center;
    @include m-screen {
      padding-bottom: $gutter-small;
    }

    &__title {
      padding-top: $gutter-large;
      font-weight: $font-bold;
      font-size: 30px;
      margin-bottom: 20px;
      @include m-screen {
        padding-top: $gutter-medium;
      }
      @include s-screen {
        font-size: 25px;
      }
    }
  }
}
