.ketomanna-lp {
  a.anchor {
    top: -35px;
  }

  .a--cta {
    background: #39447c;
  }

  .p--title {
    border-color: #39447c;
    color: #39447c;
  }

  .top-offer-bar {
    @include xs-screen {
      .a--cta {
        display: none;
      }
    }
  }

  .main-header {
    position: initial;

    .a--cta {
      display: none;
    }

    &__content {
      height: 47px;
    }
  }

  .atf {
    display: flex;

    &__video {
      position: relative;
      width: 50%;
      background-image: url("https://cdn.besynchro.com/experiments/cro016-atf-video%402x.jpg");
      background-size: cover;
      background-position: center;
      @include s-screen {
        display: none;
      }

      .modal-dialog {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        width: 90%;
        max-width: 1000px;
      }

      .modal-body {
        padding: 5px;
      }

      .embed-container {
        position: relative;
      }

      .close {
        position: absolute;
        right: -40px;
        font-size: 40px;
        color: rgba(0,0,0,0.5);
        opacity: 1;
        font-weight: 100;
        outline: none;
        background: white;
        padding: 1px 10px;
        z-index: -1;
      }

      .iframe-container {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%;
        height: 0;
      }

      .iframe-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    &__video-btn {
      position: absolute;
      top: 53%;
      left: 50%;
      cursor: pointer;
      transform: translate(-50%,-50%);
      font-weight: $font-demi;
      font-size: 16px;
      color: $color-ivory;
      letter-spacing: 1px;
      text-transform: uppercase;
      background: none;
      border: 0;
      outline: none;
      -webkit-appearance: button;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -webkit-font-smoothing: antialiased;

      &::before {
        content: "";
        display: block;
        position: relative;
        left: 50%;
        transform: translate(-26px, -15px);
        border-top: 32px solid transparent;
        border-left: 52px solid white;
        border-bottom: 32px solid transparent;
      }
    }

    &__video-bar {
      position: absolute;
      left: 55px;
      right: 30px;
      bottom: 28px;
      background: rgba(255,255,255,0.5);
      height: 2px;

      &::before {
        content: "";
        display: block;
        position: relative;
        left: -25px;
        top: -7px;
        border-top: 8px solid transparent;
        border-left: 12px solid white;
        border-bottom: 8px solid transparent;
      }

      &::after {
        content: "";
        height: 18px;
        width: 18px;
        background: white;
        top: -23px;
        position: relative;
        display: block;
        border-radius: 9px;
      }
    }

    &__video-mobile {
      display: none;
      @include s-screen {
        display: block;
      }

      .iframe-container {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%;
        height: 0;
      }

      .iframe-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    &__copy {
      width: 50%;
      min-width: 450px;
      text-align: center;
      background: $color-silver-light;
      @include s-screen {
        width: 100%;
        min-width: initial;
      }
    }

    &__header {
      position: initial;
      transform: none;
      color: #39447c;
      font-weight: $font-demi;
      letter-spacing: 0.03em;
      font-size: 50px;
      width: auto;
      margin: 30px $gutter-medium 20px;
      line-height: initial;
      @include sm-screen {
        font-size: 50px;
        background: none;
        padding: 0;
        width: initial;
      }
      @include s-screen {
        margin: 30px $gutter-small 15px;
      }
      @include xs-screen {
        font-size: 40px;
      }

      span {
        display: block;
        font-size: 30px;
        margin-top: 20px;
        letter-spacing: 1px;
        @include sm-screen {
          margin-top: 10px;
        }
      }
    }

    &__description {
      font-size: 26px;
      @include sm-screen {
        font-size: 22px;
      }
    }

    .a--cta {
      margin: 10px 0 40px;
    }
  }

  .rating__icon {
    fill: #39447c;
  }

  .intro {
    background-image: linear-gradient(90deg, #ded5c4, #e6c1c8);

    &__copy {
      .p--header,
      .p--text {
        color: #39447c;
      }
    }

    &__image {
      background-image: url("https://cdn.besynchro.com/ketomanna/v1-0/km-intro.jpg");
    }
  }

  .ingredients {
    &__icons {
      background: none;
      margin-top: 0;
    }

    &__icon-box {
      .p--text {
        color: $color-ebony;
        font-weight: $font-medium;
      }
    }

    &__items {
      padding: $gutter-large 0 20px;
      text-align: center;
      @include m-screen {
        padding: $gutter-medium 0 0;
      }
    }

    &__item-box {
      width: 50%;
      @include s-screen {
        width: 100%;
        margin-bottom: 20px;
      }
    }

    &__image {
      max-height: 110px;
    }

    &__header {
      font-size: 20px;
      border-width: 0 0 2px;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
  }

  .facts {
    &__ketomanna {
      text-align: center;
      background-image: linear-gradient(90deg, #ded5c4, #e6c1c8);
      padding: $gutter-large 0;
      @include sm-screen {
        padding: $gutter-medium $gutter-medium 14px;
      }
      @include s-screen {
        padding-left: $gutter-small;
        padding-right: $gutter-small;
      }

      img {
        max-height: 400px;
        max-width: 100%;
        padding: 0 25px;
        @include sm-screen {
          padding: 0;
        }
      }

      .p--text {
        color: #39447c;
        font-size: 26px;
        max-width: 700px;
        @include s-screen {
          font-size: 22px;
        }
      }
    }

    &__copy {
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 34px;
      max-width: 45%;
      padding: 0 25px;
      @include sm-screen {
        max-width: none;
        margin: 0;
        padding: 0;
      }
    }
  }

  .consumption {
    font-size: 0;
    padding: 0 $gutter-large $gutter-large;
    max-width: 1400px;
    margin: 0 auto;
    @include s-screen {
      padding: 0 $gutter-small $gutter-medium;
    }

    &__box {
      display: inline-block;
      width: 50%;
      padding: 10px;
      vertical-align: top;
      @include s-screen {
        width: 100%;
      }
    }

    &__text {
      height: 80px;
      text-align: center;
      line-height: 80px;
      margin: 0;
      font-size: 26px;
      color: $color-ivory;
      @include s-screen {
        height: initial;
        line-height: 1.5;
        padding: 15px;
        font-size: 22px;
      }

      &.km-fudge {
        background: #6C5851;
      }

      &.km-bar {
        background: #515E6C;
      }
    }

    &__image {
      width: 100%;
    }
  }

  .instagram {
    background-image: linear-gradient(90deg, #ded5c4, #e6c1c8);

    &__user {
      .p--text {
        font-size: 18px;
      }
    }
  }

  .purchase {
    padding-bottom: 0;
    @include s-screen {
      &__item:nth-child(2) {
        border-bottom: none;
        border-top: 1px solid #e2e2e2;
      }
    }

    .option-1 {
      background-image: url("https://cdn.besynchro.com/ketomanna/v1-0/km-10ct-box%402x.png");
    }

    .option-2 {
      background-image: url("https://cdn.besynchro.com/ketomanna/v1-0/km-20ct-box%402x.png");
    }

    .option-3 {
      background-image: url("https://cdn.besynchro.com/ketomanna/v1-0/km-20ctx2-box%402x.png");
    }

    .discount {
      @include discount ($color-ketomanna)
    }
  }

  .synchro-reviews {
    border-top: 0;
  }

  .footer {
    background-image: linear-gradient(90deg, #ded5c4, #e6c1c8);

    &__top {
      color: #e6c1c8;
    }
  }
}

.ketomanna-paid-r {
  .top-offer-bar {
    .a--cta {
      @include sm-screen {
        display: none;
      }
      @include animate-flash;
    }
  }
}
