.ketomanna-lp {
  .main-header {
    .a--cta {
      display: none;
    }

    &.floated {
      .a--cta {
        display: block;
        background: $color-ketomanna;
      }
    }

    &__content {
      height: 47px;
    }
  }

  .atf {
    &.bg-full-width {
      background-image: url("https://cdn.besynchro.com/ketomanna/v1-0/km-product-atf.jpg");
      background-color: #f0f3f4;
      background-position: center;
      @include sm-screen {
        background: none;

        &:after {
          content: none;
        }
      }
    }

    &__content-box {
      position: absolute;
      top: 53%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 400px;
      text-align: center;
      @include sm-screen {
        position: initial;
        transform: none;
        margin: 0 auto;
        max-width: 80%;
      }
    }

    &__header {
      position: initial;
      transform: none;
      font-size: 40px;
      letter-spacing: 3px;
      text-transform: uppercase;
      background: white;
      width: 320px;
      padding: 14px;
      opacity: 0.8;
      @include sm-screen {
        background: none;
        padding: 0;
        width: initial;
      }
      @include xs-screen {
        font-size: 40px;
      }
    }

    &__description {
      font-size: 26px;
      @include sm-screen {
        margin: 0 auto 20px;
        font-size: 22px;
      }
    }

    .a--cta {
      margin: 5px;

      &.cta--secondary {
        background: none;
        color: $color-primary;
      }
    }

    .down-arrow {
      opacity: 0;
      width: 19px;
      transition: opacity 0.75s ease-in-out, bottom 0.75s ease-in-out;

      &.animate-in {
        bottom: 70px;
        opacity: 1;
      }
    }
    // wave bottom
    &:after {
      content: "";
      background-image: url("https://cdn.besynchro.com/gold/v2-0/atf-bottom-wave@2x.png");
      background-color: transparent;
      height: 45px;
      width: 100%;
      position: absolute;
      bottom: 0;
      background-repeat: repeat-x;
      background-size: auto 45px;
      background-position-x: center;
      z-index: $header-z-index - 10;
    }

    &__mobile {
      display: none;
      @include sm-screen {
        display: block;
        position: relative;
        background-image: url("https://cdn.besynchro.com/ketomanna/v1-0/km-product-atf-mobile.jpg");
        background-size: cover;
        height: 400px;
        background-position: center;
        background-position-y: -10px;
      }
      // wave bottom
      &:after {
        content: "";
        background-image: url("https://cdn.besynchro.com/gold/v2-0/atf-bottom-wave@2x.png");
        background-color: transparent;
        height: 45px;
        width: 100%;
        position: absolute;
        bottom: 0;
        background-repeat: repeat-x;
        background-size: auto 45px;
        background-position-x: center;
        z-index: $header-z-index - 10;
      }
    }
  }

  .intro {
    background-color: #E6E6E5;
    background-image: url("https://cdn.besynchro.com/ketomanna/v1-0/km-intro.jpg");
    background-size: cover;
    padding-bottom: $gutter-desktop;
    @include s-screen {
      background: none;
      border-bottom: 1px solid #E6E6E5;
      padding-bottom: $gutter-tablet;
    }

    &__copy {
      padding-top: $gutter-desktop;
      text-align: left;
      @include s-screen {
        text-align: center;
        padding-top: $gutter-tablet;
      }

      .p--title {
        margin-left: 0;
      }

      .p--header {
        max-width: none;
        margin: initial;
      }
    }

    .a--cta {
      margin-bottom: 0;
    }
  }

  .ingredients {
    &__icons {
      padding-top: $gutter-desktop;
      padding-bottom: 30px;
      background: none;
      @include s-screen {
        border-top: 1px solid #e6e6e5;
        margin-top: 20px;
        padding-top: $gutter-tablet;
        padding-bottom: 0;
      }
    }

    &__icon-box {
      width: 25%;
      max-width: 300px;
      @include s-screen {
        width: 50%;
      }
    }

    &__items {
      padding: 10px $gutter-desktop 40px;
      @include s-screen {
        padding: 0 $gutter-mobile $gutter-mobile;
      }
    }

    &__image {
      max-height: 110px;
    }

    &__header {
      font-size: 20px;
      border-width: 0 0 2px;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
  }

  .facts {
    &__ketomanna {
      text-align: center;
      background: url("https://cdn.besynchro.com/ketomanna/v1-0/km-background.png") center;
      background-size: cover;
      padding: $gutter-desktop $gutter-desktop 30px;
      @include sm-screen {
        padding: $gutter-tablet;
      }
      @include s-screen {
        padding: $gutter-mobile;
      }

      img {
        max-height: 550px;
        max-width: 100%;
      }

      .p--title {
        border-color: #fff;
        color: #fff;
      }

      .p--text {
        color: #fff;
        font-size: 30px;
        max-width: 700px;
        @include s-screen {
          font-size: 20px;
        }
      }
    }
  }

  .consumption {
    font-size: 0;
    padding: 0 $gutter-desktop $gutter-desktop;
    @include s-screen {
      padding: 0 $gutter-mobile $gutter-tablet;
    }

    &__box {
      display: inline-block;
      width: 50%;
      padding: 10px;
      vertical-align: top;
      @include s-screen {
        width: 100%;
      }
    }

    &__text {
      height: 80px;
      text-align: center;
      line-height: 80px;
      margin: 0;
      font-size: 26px;
      color: #fff;
      @include s-screen {
        height: initial;
        line-height: 1.5;
        padding: 15px;
        font-size: 22px;
      }

      &.km-fudge {
        background: #6C5851;
      }

      &.km-bar {
        background: #515E6C;
      }
    }

    &__image {
      width: 100%;
    }
  }

  .purchase {
    @include s-screen {
      &__item:nth-child(2) {
        border-bottom: none;
        border-top: 1px solid #e2e2e2;
      }
    }

    .option-1 {
      background-image: url("https://cdn.shopify.com/s/files/1/0155/0195/products/ketomanna-10ct-1.jpg");
    }

    .option-2 {
      background-image: url("https://cdn.shopify.com/s/files/1/0155/0195/products/ketomanna-20ct-1.jpg");
    }

    .option-3 {
      background-image: url("https://cdn.shopify.com/s/files/1/0155/0195/products/ketomanna-20ct-2.jpg");
    }

    .discount {
      @include discount ($color-ketomanna)
    }
  }
}
