.keto-bundle-lp {
  .main-header-container {
    .main-header {
      padding-top: 10px;
      padding-bottom: 10px;
      opacity: 0;

      &.floated {
        opacity: 1;
      }
    }
  }

  .top-offer-bar {
    background: $color-ketobasis;

    .a--cta {
      background: $color-ebony;
      color: $color-ivory;
    }
  }

  .atf-v2 {
    .bg-full-width {
      position: relative;
      min-height: inherit;
      height: 400px;
      background-image: url("https://cdn.besynchro.com/keto-bundle/v1-0/keto-bundle-atf-desktop@2x.jpg");
      background-color: $color-ivory;
      background-size: contain;
      background-position: center;
      @include m-screen {
        height: 350px;
      }
      @include sm-screen {
        height: 250px;
      }
      @include s-screen {
        background-image: url("https://cdn.besynchro.com/keto-bundle/v1-0/keto-bundle-atf-mobile@2x.jpg");
        height: 200px;
        background-size: auto 200px;
      }
    }
  }

  .ingredients {
    &__icons {
      background-color: $color-ivory;
    }

    &__icon {
      max-width: 100px;
    }

    &__icon-box {
      @include l-screen {
        width: 25%;
      }
      @include sm-screen {
        width: 50%;
      }
      @include xs-screen {
        width: 100%;
      }

      .p--text {
        color: $color-ebony;
        font-weight: $font-medium;
      }
    }
  }

  .intro {
    background-color: $color-ketobasis;

    &__image {
      background-image: url("https://cdn.besynchro.com/keto-bundle/v1-0/keto-intro-desktop@2x.jpg");
    }
  }

  .consumption {
    text-align: center;
    font-size: 0;
    padding: 0 $gutter-large $gutter-large;
    @include m-screen {
      padding: 0 $gutter-medium $gutter-medium;
    }
    @include s-screen {
      padding: 0 $gutter-small $gutter-small;
    }

    &__container {
      margin: 0 auto;
      max-width: 1560px;
    }

    .consumption-card {
      vertical-align: top;
      width: 33.33%;
      display: inline-block;
      max-width: 500px;
      @include m-screen {
        width: 50%;
      }
      @include s-screen {
        width: 100%;
      }

      &__inner {
        margin: 0 10px;
        overflow: auto;
        @include m-screen {
          margin: 10px;
        }
        @include s-screen {
          margin: 10px 0;
        }
      }
    }

    &__text {
      height: 80px;
      @include m-screen {
        height: auto;
        min-height: 80px;
      }

      .p--text {
        color: $color-ivory;
        margin: 0;
        padding: 9px 30px;
      }

      &.km-fudge {
        background: #6C5851;
      }

      &.km-bar {
        background: #515E6C;
      }

      &.kb-powder {
        background: #746D82;
      }
    }

    &__image {
      width: 100%;
    }
  }

  .purchase {
    text-align: center;

    &__item {
      width: 100%;
      float: none;
      max-width: 400px;

      a:hover {
        opacity: 1;
      }
    }

    &__img {
      height: 250px;
      width: 400px;
      max-width: 100%;
      background-image: url("https://cdn.shopify.com/s/files/1/0155/0195/products/ketoplan-new.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    &__copy {
      width: 100%;
      max-width: 300px;
      background: #F8F8F8;
      margin: 10px auto;
    }

    &__banner {
      position: relative;
      left: -10px;
      width: calc(100% + 20px);
      background: #C4A498;
      padding: 7px 20px;
      font-weight: $font-demi;
      text-transform: uppercase;
      color: $color-ivory;
      letter-spacing: 0.05em;
      margin-bottom: 25px;

      &:after,
      &:before {
        content: "";
        position: absolute;
        width: 10px;
        height: 20px;
        background: #A88173;
        bottom: -5px;
        z-index: -1;
      }

      &:before {
        left: 0;
        transform: skewY(35deg);
      }

      &:after {
        right: 0;
        transform: skewY(-35deg);
      }
    }

    &__plan {
      text-transform: uppercase;
      letter-spacing: 0.05em;
    }

    &__qty {
      font-weight: $font-normal;
      margin: 10px;
      opacity: 0.60;
    }

    &__item-price {
      font-weight: $font-normal;
      font-size: 64px;
      margin: 0 0 20px;
      line-height: 72px;
    }

    &__item-cents {
      line-height: 45px;
      font-size: 25px;
    }
  }
}
