.prelaunch {
  .logo-square {
    width: 100px;
    height: 100px;
    @include sm-screen {
      width: 80px;
      height: 80px;
    }
  }

  &__atf {
    background-image: url("https://cdn.besynchro.com/gold/capsules/presale/gold-cap-atf-desktop.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
    padding-bottom: $gutter-medium;
    background-color: #f0efed;
    @include xs-screen {
      background-image: url("https://cdn.besynchro.com/gold/capsules/presale/gold-cap-atf0-mobile.jpg");
      background-size: 650px;
      background-position: top;
      padding: 0 $gutter-small 30px;
    }
  }

  &__atf-mobile {
    display: none;
    @include s-screen {
      display: block;
      background-image: url("https://cdn.besynchro.com/gold/capsules/presale/gold-cap-body-mobile.jpg");
      background-position: top;
      background-size: cover;
      padding-top: 75%;
      margin-top: 30px;
    }
  }

  &__atf-header {
    max-width: 600px;
    font-size: 55px;
    font-weight: $font-bold;
    margin: 30px auto $gutter-medium;
    line-height: normal;
    @include sm-screen {
      font-size: 50px;
      margin: $gutter-medium auto 20px;
    }
    @include s-screen {
      max-width: 450px;
      font-size: 33px;
    }

    span {
      font-style: oblique;
    }
  }

  &__atf-date {
    font-weight: $font-demi;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    border-top: 4px solid $color-gold;
    border-bottom: 4px solid $color-gold;
    width: fit-content;
    padding: 7px 15px;
    margin: 0 auto;
    @include sm-screen {
      font-size: 20px;
    }
  }

  &__atf-subheader {
    max-width: 470px;
    font-weight: $font-medium;
    font-size: 26px;
    color: #666666;
    margin: 30px auto 0;
    line-height: normal;
    @include sm-screen {
      max-width: 450px;
      margin-top: $gutter-small;
      font-size: 24px;
    }
  }

  &__body {
    padding: 30px 0;
    text-align: center;
    @include s-screen {
      padding: 25px 0;
    }
  }

  &__body-signup {
    font-weight: $font-medium;
    font-size: 22px;
    color: #666666;
    margin: 0 $gutter-small $gutter-small;
    @include sm-screen {
      font-size: 20px;
    }
  }

  &__body-copy {
    font-size: 28px;
    font-weight: $font-medium;
    line-height: 1.5;
    max-width: 720px;
    margin: $gutter-medium auto 0;
    @include sm-screen {
      font-size: 25px;
    }
    @include s-screen {
      font-size: 22px;
      margin: 30px $gutter-small 0;
    }
  }

  .a--cta {
    background: $color-gold;
  }

  &__body-images {
    font-size: 0;
    padding: 0 25px;
    @include s-screen {
      padding: 0;
    }
  }

  &__body-image-1,
  &__body-image-2 {
    display: inline-block;
    border: 5px solid $color-ivory;
    height: 650px;
    background-position: center;
    background-size: cover;
    margin: 30px 0 $gutter-small;
    @include m-screen {
      height: 450px;
    }
    @include s-screen {
      border: none;
      height: 300px;
    }
  }

  &__body-image-1 {
    width: 65%;
    background-image: url("https://cdn.besynchro.com/gold/capsules/presale/gold-cap-image-1.jpg");
    @include s-screen {
      width: 100%;
    }
  }

  &__body-image-2 {
    width: 35%;
    background-image: url("https://cdn.besynchro.com/gold/capsules/presale/gold-cap-image-2.jpg");
    @include s-screen {
      display: none;
    }
  }

  &__thankyou-atf {
    height: 500px;
    position: relative;
    background-image: url("https://cdn.besynchro.com/gold/capsules/presale/gold-cap-atf-ty-desktop.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
    margin: 0 30px;
    @include sm-screen {
      margin: 0;
      height: 400px;
      background-image: url("https://cdn.besynchro.com/gold/capsules/presale/gold-cap-atf-ty-mobile.jpg");
    }
  }

  &__thankyou-header {
    font-weight: $font-bold;
    font-size: 55px;
    margin: 0;
    color: $color-ivory;
    line-height: 1.5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    @include s-screen {
      padding: $gutter-small;
      font-size: 50px;
    }

    span {
      display: block;
      @include s-screen {
        display: initial;
      }
    }
  }

  &__thankyou {
    padding: $gutter-medium $gutter-small;
    text-align: center;
    @include s-screen {
      padding: 30px $gutter-small;
    }
  }

  &__thankyou-copy {
    font-weight: $font-medium;
    max-width: 800px;
    margin: 0 auto 1em;
    font-size: 24px;
    line-height: 1.5;
    @include m-screen {
      max-width: 650px;
      font-size: 26px;
    }
    @include s-screen {
      max-width: 500px;
      font-size: 20px;
    }
  }

  &__thankyou-articles {
    font-size: 0;
  }

  &__thankyou-article {
    display: inline-block;
    width: 18%;
    margin: $gutter-small 1% 0;
    text-align: left;
    vertical-align: top;
    box-shadow: 0 5px 10px rgba(0,0,0,0.05);
    @include m-screen {
      width: 31%;
      margin-bottom: $gutter-small;
    }
    @include sm-screen {
      width: 48%;
    }
    @include s-screen {
      width: 98%;
      margin-bottom: $gutter-small;
    }
  }

  &__thankyou-article-image1,
  &__thankyou-article-image2,
  &__thankyou-article-image3,
  &__thankyou-article-image4,
  &__thankyou-article-image5 {
    padding-top: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    @include s-screen {
      padding-top: 66%;
    }
  }

  &__thankyou-article-image1 {
    background-image: url("https://cdn.shopify.com/s/files/1/0155/0195/files/DSC02956_1024x1024.jpg?v=1560246600");
  }

  &__thankyou-article-image2 {
    background-image: url("https://cdn.shopify.com/s/files/1/0155/0195/files/DSC02982_1024x1024.jpg?v=1560172162");
  }

  &__thankyou-article-image3 {
    background-image: url("https://cdn.shopify.com/s/files/1/0155/0195/files/brooke-lark-500141-unsplash_1024x1024.jpg?v=1559303575");
  }

  &__thankyou-article-image4 {
    background-image: url("https://cdn.shopify.com/s/files/1/0155/0195/files/25688467_l_grande.jpg?v=1493800061");
  }

  &__thankyou-article-image5 {
    background-image: url("https://cdn.shopify.com/s/files/1/0155/0195/files/mj-background-labs-coats-2_1024x1024.png?10821567287518890392");
  }

  &__thankyou-article-copy {
    padding: 15px $gutter-small;
  }

  &__thankyou-article-title {
    font-weight: $font-bold;
    font-size: 22px;
    margin-bottom: 10px;
  }

  &__thankyou-article-cta {
    font-weight: $font-demi;
    font-size: 18px;
    color: $color-genesis;
    margin: 0;
  }

  &.gold-capsules {
    .klaviyo-form {
      padding: 0 20px;
      max-width: 400px;
      margin: 0 auto;

      input {
        font-family: $font-primary !important;
        border-radius: 6px !important;
        text-align: center !important;
        padding: 0 !important;
        font-size: 18px !important;
        font-weight: $font-medium !important;
        border-color: #b3b3b3 !important;
        @include s-screen {
          height: 50px !important;
        }

        &::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          font-family: $font-primary !important;
          font-size: 18px !important;
        }

        &::-moz-placeholder {
          /* Firefox 19+ */
          font-family: $font-primary !important;
          font-size: 18px !important;
        }

        &:-ms-input-placeholder {
          /* IE 10+ */
          font-family: $font-primary !important;
          font-size: 18px !important;
        }

        &:-moz-placeholder {
          /* Firefox 18- */
          font-family: $font-primary !important;
          font-size: 18px !important;
        }
      }

      button {
        font-family: $font-primary !important;
        padding: 0 25px !important;
        font-size: 18px !important;
        font-weight: $font-demi !important;
        height: 50px !important;
        @include s-screen {
          padding: 0 20px !important;
        }
      }
    }
  }
}
