.prelaunch {
  .logo-square {
    width: 100px;
    height: 100px;
    @include sm-screen {
      width: 80px;
      height: 80px;
    }
  }

  &__atf {
    background-image: url("https://cdn.besynchro.com/gold/capsules/presale/gold-cap-atf-desktop.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-bottom: $gutter-medium;
    @include s-screen {
      padding: 0 $gutter-small 30px;
      background: #F1F1F0;
    }
  }

  &__atf-mobile {
    display: none;
    @include s-screen {
      display: block;
      background-image: url("https://cdn.besynchro.com/gold/capsules/presale/gold-cap-atf-mobile.jpg");
      background-position: top;
      background-size: cover;
      padding-top: 75%;
      margin-top: 30px;
    }
  }

  &__atf-header {
    max-width: 600px;
    font-size: 55px;
    font-weight: $font-bold;
    margin: 30px auto $gutter-medium;
    line-height: normal;
    @include sm-screen {
      font-size: 50px;
      margin: $gutter-medium auto 20px;
    }
    @include s-screen {
      max-width: 450px;
      font-size: 38px;
      margin: 30px auto;
    }

    span {
      font-style: oblique;
      // @include s-screen {
      //   display: initial;
      // }
    }
  }

  &__atf-date {
    font-weight: $font-demi;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    border-top: 4px solid $color-gold;
    border-bottom: 4px solid $color-gold;
    width: fit-content;
    padding: 7px 15px;
    margin: 0 auto;
    @include sm-screen {
      font-size: 22px;
    }
  }

  &__atf-subheader {
    max-width: 470px;
    font-weight: $font-medium;
    font-size: 26px;
    color: #666666;
    margin: 30px auto 0;
    line-height: normal;
    @include sm-screen {
      margin-top: 30px;
      font-size: 24px;
    }
  }

  &__body {
    padding: 30px 0;
    text-align: center;
    @include s-screen {
      padding: 30px 0;
    }
  }

  &__body-signup {
    font-weight: $font-medium;
    font-size: 22px;
    color: #666666;
    margin: 0 $gutter-small $gutter-small;
    @include sm-screen {
      font-size: 20px;
    }
  }

  &__body-copy {
    font-size: 28px;
    font-weight: $font-medium;
    line-height: 1.5;
    max-width: 720px;
    margin: $gutter-medium auto 0;
    @include sm-screen {
      font-size: 25px;
    }
    @include s-screen {
      font-size: 22px;
      margin: 30px $gutter-small 0;
    }
  }

  .a--cta {
    background: $color-gold;
  }

  &__body-images {
    font-size: 0;
    padding: 0 25px;
    @include s-screen {
      padding: 0;
    }
  }

  &__body-image-1,
  &__body-image-2 {
    display: inline-block;
    border: 5px solid $color-ivory;
    height: 650px;
    background-position: center;
    background-size: cover;
    margin: 30px 0 $gutter-small;
    @include m-screen {
      height: 450px;
    }
    @include s-screen {
      border: none;
      height: 300px;
    }
  }

  &__body-image-1 {
    width: 65%;
    background-image: url("https://cdn.besynchro.com/gold/capsules/presale/gold-cap-image-1.jpg");
    @include s-screen {
      width: 100%;
    }
  }

  &__body-image-2 {
    width: 35%;
    background-image: url("https://cdn.besynchro.com/gold/capsules/presale/gold-cap-image-2.jpg");
    @include s-screen {
      display: none;
    }
  }

  &__thankyou-atf {
    height: 500px;
    position: relative;
    background-image: url("https://cdn.besynchro.com/gold/capsules/presale/gold-cap-atf-ty-desktop.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
    margin: 0 30px;
    @include s-screen {
      margin: 0;
      height: 400px;
      background-image: url("https://cdn.besynchro.com/gold/capsules/presale/gold-cap-atf-ty-mobile.jpg");
    }
  }

  &__thankyou-header {
    font-weight: $font-bold;
    font-size: 55px;
    margin: 0;
    color: $color-ivory;
    line-height: 1.5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    @include s-screen {
      padding: $gutter-small;
      font-size: 50px;
    }

    span {
      display: block;
      @include s-screen {
        display: initial;
      }
    }
  }

  &__thankyou {
    padding: $gutter-medium $gutter-small;
    text-align: center;
    @include s-screen {
      padding: 30px $gutter-small;
    }
  }

  &__thankyou-copy {
    font-weight: $font-medium;
    max-width: 800px;
    margin: 0 auto 1em;
    font-size: 24px;
    line-height: 1.5;
    @include m-screen {
      max-width: 650px;
      font-size: 26px;
    }
    @include s-screen {
      max-width: 500px;
      font-size: 20px;
    }
  }

  &.gold-capsules {
    .klaviyo-form-HLQ8cK,
    .klaviyo-form-HLWnhf,
    .klaviyo-form-HiE3eW {
      padding: 0 20px;
      max-width: 600px;
      margin: 0 auto;

      .bWFXXf {
        font-family: $font-primary !important;
        border-radius: 6px !important;
        text-align: center !important;
        padding: 0 !important;
        font-size: 18px !important;
        font-weight: $font-medium !important;
        @include s-screen {
          height: 50px !important;
        }
      }

      .bnicNd,
      .kZaGfF {
        font-family: $font-primary !important;
        padding: 0 30px !important;
        font-size: 18px !important;
        font-weight: $font-demi !important;
        height: 60px !important;
        @include s-screen {
        padding: 0 20px !important;
          height: 50px !important;
        }
      }
    }
  }
}
