.prelaunch {
  .logo-square {
    width: 100px;
    height: 100px;
    @include sm-screen {
      width: 80px;
      height: 80px;
    }
  }

  &__atf {
    background-image: url("https://cdn.besynchro.com/gold/capsules/presale/gold-cap-atf-desktop.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-bottom: 70px;
    @include sm-screen {
      padding-bottom: $gutter-medium;
    }
    @include s-screen {
      height: 360px;
      padding-top: 25px;
      background-image: url("https://cdn.besynchro.com/ketomanna/pre-launch/km-prelaunch-atf-mobile.jpg");
    }
  }

  &__atf-header {
    width: 600px;
    font-size: 60px;
    font-weight: $font-bold;
    margin: $gutter-large auto $gutter-medium;
    line-height: normal;
    @include sm-screen {
      font-size: 50px;
      margin: $gutter-medium auto;
    }

    span {
      font-style: oblique;
      // @include s-screen {
      //   display: initial;
      // }
    }
  }

  &__atf-date {
    font-weight: $font-demi;
    font-size: 26px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    border-top: 4px solid $color-gold;
    border-bottom: 4px solid $color-gold;
    width: fit-content;
    padding: 7px 15px;
    margin: 0 auto;
    @include sm-screen {
      font-size: 22px;
    }
  }

  &__atf-subheader {
    width: 470px;
    font-weight: $font-medium;
    font-size: 30px;
    color: #666666;
    margin: 40px auto 0;
    line-height: normal;
    @include sm-screen {
      font-size: 26px;
    }
  }

  &__body {
    padding: $gutter-medium 0;
    text-align: center;
    // @include s-screen {
    //   padding: $gutter-small 0;
    // }
  }

  &__body-signup {
    font-weight: $font-medium;
    font-size: 24px;
    color: #666666;
    margin: 0 $gutter-small 30px;
    @include sm-screen {
      font-size: 20px;
    }
    // @include s-screen {
    //   margin-bottom: $gutter-small;
    // }
  }

  &__body-copy {
    font-size: 30px;
    font-weight: $font-medium;
    line-height: 1.5;
    max-width: 700px;
    margin: $gutter-medium auto 0;
    @include sm-screen {
      font-size: 25px;
    }
    @include s-screen {
      font-size: 28px;
      margin: $gutter-small $gutter-small 0;
    }
  }

  .a--cta {
    background: #D65667;
  }

  &__body-images {
    font-size: 0;
    padding: 0 25px;
  }

  &__body-image-1,
  &__body-image-2 {
    display: inline-block;
    border: 5px solid $color-ivory;
    height: 650px;
    background-position: center;
    background-size: cover;
    margin: 30px 0;
    @include sm-screen {
      height: 450px;
    }
    @include s-screen {
      margin: $gutter-small 0;
      height: 850px;
      background-image: url("https://cdn.besynchro.com/gold/capsules/presale/gold-cap-image-2.jpg");
    }
  }

  &__body-image-1 {
    width: 65%;
    background-image: url("https://cdn.besynchro.com/gold/capsules/presale/gold-cap-image-1.jpg");
  }

  &__body-image-2 {
    width: 35%;
    background-image: url("https://cdn.besynchro.com/gold/capsules/presale/gold-cap-image-2.jpg");
  }

  &__thankyou-atf {
    height: 370px;
    position: relative;
    background-image: url("https://cdn.besynchro.com/ketomanna/pre-launch/km-prelaunch-atf.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 80px;
    @include s-screen {
      background-position: bottom;
      height: 330px;
      padding-top: 30px;
      background-image: url("https://cdn.besynchro.com/ketomanna/pre-launch/km-prelaunch-atf-mobile.jpg");
    }
  }

  &__thankyou-header {
    font-weight: $font-bold;
    font-size: 55px;
    margin: 0 $gutter-medium;
    color: #4A4948;
    line-height: normal;
    @include s-screen {
      font-size: 40px;
    }
  }

  &__thankyou {
    padding-top: $gutter-medium;
    text-align: center;
  }

  &__thankyou-copy {
    font-weight: $font-medium;
    max-width: 800px;
    margin: 0 auto 1em;
    font-size: 24px;
    line-height: 1.5;
    padding: 0 $gutter-small;
  }

  &__thankyou-cta {
    padding: $gutter-small 0;
  }

  &__thankyou-image {
    height: 630px;
    background-image: url("https://cdn.besynchro.com/ketomanna/pre-launch/km-thankyou-image-desktop.jpg");
    background-position: top;
    background-size: cover;
    @include s-screen {
      margin-top: 30px;
      background-image: url("https://cdn.besynchro.com/ketomanna/pre-launch/km-thankyou-image-mobile.jpg");
    }
  }

  &.gold-capsules {
    .klaviyo-form-HiE3eW {
      padding: 0 20px;
      width: 600px;
      margin: 0 auto;

      .bWFXXf {
        font-family: $font-primary !important;
        border-radius: 6px !important;
        text-align: center !important;
        padding: 0 !important;
        font-size: 18px !important;
        font-weight: $font-medium !important;
      }

      .bnicNd,
      .kZaGfF {
        font-family: $font-primary !important;
        padding: 0 30px !important;
        font-size: 18px !important;
        font-weight: $font-demi !important;
        height: 60px !important;
      }
    }
  }
}
