{% extends "landing_pages/gold/base.html" %}

{% block content %}

<section class="gold-lp gold-adwords">
  {% include 'landing_pages/gold/v2-0/header.html' %}
  {% include 'landing_pages/gold/v2-0/atf.html' %}
  {% include 'landing_pages/gold/v2-0-adwords/benefits.html' %}
  {% include 'landing_pages/gold/v2-0/intro.html' %}
  {% include 'landing_pages/gold/v2-0-adwords/technology.html' %}
  {% include 'landing_pages/gold/v2-0-adwords/ingredients.html' %}
  {% include 'landing_pages/gold/v2-0/quotes.html' %}
  {% include 'landing_pages/gold/v2-0/purchase_options.html' %}
  {% include 'landing_pages/gold/v2-0/reviews.html' %}
  {% include 'landing_pages/gold/v2-0/faq.html' %}
  {% include 'landing_pages/gold/v2-0/footer.html' %}
</section>

{% endblock %}
