@import 'reset_default';

/* responsive break points */
$break-mobile: 767px;
$break-tablet: 991px;
$break-desktop: 1199px;

/* global styles for synchro landing pages */
.container-fluid {
  max-width: 1400px;
  padding-left: 5% !important;
  padding-right: 5% !important;
}

/* main h1 text */
.p--header {
  font-family: 'Open Sans', sans-serif;
  font-size: 38px;
  line-height: 1.4;
  letter-spacing: .5px;
  font-weight: 300;
  text-transform: capitalize;
  color: #353535;
  -webkit-font-smoothing: antialiased;
  margin-top: 0.5em;
  margin-bottom: 0.5em;

  @media (max-width: $break-mobile) {
    font-size: 28px;
  }
}

/* section title text */
.p--title {
  display: block;
  font-family: 'Raleway', sans-serif;
  color: #4d515c;
  font-weight: bold;
  letter-spacing: .08em;
  font-size: 18px;
  line-height: 1.4;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  margin-bottom: 70px;

  &:after {
    content: "";
    display: block;
    width: 40px;
    height: 2px;
    background: #22bad8;
    margin: 20px auto;
  }
}

/* paragraph text */
.p--text {
  font-family: 'Open Sans', sans-serif;
  color: #3f3f3f;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.8;
  -webkit-font-smoothing: antialiased;
  margin-top: 1em;
  margin-bottom: 1em;
}

/* text styles */
.p--white {
  color: #fff;
}

.p--bold {
  font-weight: bold;
}

.p--italic {
  font-style: italic;
}

.p--strike {
  text-decoration: line-through;
}

/* layout styles */
.section--padding {
  padding-top: 70px;
  padding-bottom: 70px;

  @media (max-width: $break-mobile) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.bg--ltgrey {
  background: #F6F8FB;
}

.right {
  float: right;
}

.left {
  float: left;
}

a.anchor {
  position: relative;
  top: -55px;
}

/* primary call-to-action button */
.a--cta,
.shopify-buy__btn {
  display: inline-block;
  color: #fff;
  background: #2f90d9;
  padding: 12px 18px;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: .08em;
  border-radius: 5px;
  border: 0;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;

  &:hover {
    background: #4ca4e6;
    color: #fff;
    transition: all 0.2s ease;
    text-decoration: none;
  }
}

/**************
GLOBAL SECTIONS
**************/

/* main navigation */
.main-header-container {
  height: 75px;

  .main-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 0;
    z-index: 100;
    background: rgba(240,240,240,0.9);
    transition: all 0.35s ease;
    -moz-transition: all 0.35s ease; /* FF 4 */
    -webkit-transition: all 0.35s ease; /* Safari & Chrome */
    -o-transition: all 0.35s ease; /* Opera */

    @media (max-width: $break-mobile) {
      padding: 10px 20px;
    }

    &.floated {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    &__logo {
      display: inline-block;

      .synchro-logo {
        fill: #231f20;
      }

      @media (max-width: $break-mobile) {
        position: fixed;
        left: 50%;
        top: 13px;
        transform: translate(-50%);
      }

      .synchro-logo {
        height: 35px;

        @media (max-width: $break-mobile) {
          height: 30px;
        }
      }
    }

    .main-navigation {
      display: inline-block;
      float: right;
      margin: 12px 0;

      @media (max-width: $break-tablet) {
        display: block;
        visibility: hidden;
        opacity: 0;
        position: fixed;
        background: rgba(240,240,240,0.9);
        text-align: left;
        margin-top: 10px;
        transition: all 0.35s ease;
        -moz-transition: all 0.35s ease;
        -webkit-transition: all 0.35s ease;
        -o-transition: all 0.35s ease;
      }

      @media (max-width: $break-mobile) {
        left: 0;
        transform: translate(-100%);
      }

      &.expanded {

        @media (max-width: $break-tablet) {
          visibility: visible;
          opacity: 1;
        }
        @media (max-width: $break-mobile) {
          transform: translate(0);
        }
      }

      &__mobile {
        cursor: pointer;
        width: 22px;
        height: 35px;
        margin-right: 30px;
        outline: 0;
      }

      &__hamburger {
        background-color: #3f3f3f;
        height: 3px;
        margin: 4px 0;
      }

      &__item {
        font-size: 11px;
        font-weight: bold;
        padding-right: 20px;
        text-transform: uppercase;
        font-family: 'Raleway', sans-serif;
        letter-spacing: .08em;
        text-decoration: none;
        -webkit-font-smoothing: antialiased;

        @media (max-width: $break-tablet) {
          display: block;
          padding: 16px 20px;
          border-top: 1px solid #FFF;
        }

        &:hover {
          color: #22bad8;
          transition: all 0.2s ease;
        }
      }
    }
  }
}

/* product claim icons */
.claim-icons {
  box-shadow: 0px -4px 3px rgba(0, 0, 0, 0.05);
  padding: 30px 0;
  text-align: center;

  &__list {
    font-size: 0;
  }

  &__item {
    display: inline-block;
    width: 20%;
    margin: 30px 0;
    vertical-align: top;

    @media (max-width: $break-mobile) {
      width: 30%;
      vertical-align: top;
    }
  }

  &__image {
    width: 80px;
    margin-bottom: 10px;
  }

  &__text {
    color: #7b858b;
    margin-bottom: 0;
  }
}

/* product info section */
.product-info {
  background: #F6F8FB;
  text-align: center;

  &__text {
    font-size: 18px;
  }

  &__title {
    display: block;
    margin-bottom: 20px;
  }
}

/* product ingredients section */
.ingredients {
  text-align: center;
  padding-bottom: 70px;

  &__item {
    padding: 70px 40px 0;
  }

  &__img-box {
    height: 300px;
    width: 50%;
    max-width: 530px;
  }

  &__img-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  &__img {
    max-width: 90%;
    max-height: 90%;
    vertical-align: middle;
  }

  .p--title {
    margin-bottom: 30px;
  }
}

/* product purchase section */
.purchase {
  text-align: center;

  &__item {
    margin: 30px 0 0;

    @media (max-width: $break-mobile) {
      width: 100%;
    }

  }

  .hidden-templates {
    display: none;
  }

  .shopify-buy__product__variant-img {
    margin: 20px 0;
    max-width: 300px;
    width: 100%;
  }

  .pID {
    display: none;
  }

  .shopify-buy__product__title,
  .shopify-buy__product__price {
    font-family: 'Open Sans', sans-serif;
    color: #3f3f3f;
    font-size: 16px;
    line-height: 1.8;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
  }

  .shopify-buy__product__actual-price {
    font-weight: bold;
  }

  .shopify-buy__product__variant-title {
    font-family: 'Open Sans', sans-serif;
    color: #3f3f3f;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.8;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
  }

  &__text-highlight {
    background-color: yellow;
  }

  .shopify-buy__btn {
    margin: 30px;
  }
}

/* shipping info section */
.guarantee {
  text-align: center;

  &__img {
    max-width: 100%;

    @media (max-width: $break-mobile) {
      max-width: 90%;
      margin: 0 auto 30px;
    }
  }
}

/* more products section */
.synchro-products {
  padding: 70px 20px;
  text-align: center;

  .shopify-buy__product__variant-img {
    max-width: 270px;
    margin: 30px 0;
    width: 100%;
  }
}

/* customer review section */
.synchro-reviews {
  display: block;
  background: #F6F8FB;
  text-align: center;
  padding: 70px 20px;
}

/* product faq section */
.faq {
  background: #F6F8FB;
  text-align: center;
  padding: 70px 35px;

  &__text {
    text-align: left;
  }

  .p--text {
    margin-top: 20px;
    color: #7b858b;
  }
}

/* cta section */
.cta-section {
  background-image: url("http://cdn.besynchro.com/gold/Gold-leaf-smaller.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 120px 0;
  text-align: center;

  &__brandname {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    letter-spacing: 4px;
    font-size: 18px;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
  }

  &__title {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 44px;
    margin: 20px 60px 30px;
    font-weight: 300;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;

    @media (max-width: $break-mobile) {
      font-size: 40px;
    }
  }

  &__cta {
    padding: 15px 30px;
  }
}

/* landing page footer */
.footer {
  padding: 30px 0;
  font-family: 'Raleway', sans-serif;
  color: #fff;
  font-weight: bold;
  letter-spacing: .08em;
  font-size: 10px;
  background: #191d20;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;

  @media (max-width: $break-mobile) {
    padding: 20px 0;
    text-align: center;
  }

  &__left {
    display: inline-block;

    @media (max-width: $break-mobile) {
      display: block;
    }
  }

  &__right {
    display: inline-block;
    float: right;

    @media (max-width: $break-mobile) {
      display: block;
      float: none;
    }
  }

  &__text {
    padding: 0 10px;

    @media (max-width: $break-mobile) {
      display: block;
      padding: 20px 10px;
    }

    &:hover {
      color: #22bad8;
      text-decoration: none;
    }
  }
}
