{% extends "landing_pages/gold-lg/base.html" %}

{% block content %}

<section class="gold-lp gold-adwords">
  {% include 'landing_pages/gold-lg/v2-0/top-offer-bar.html' %}
  {% include 'landing_pages/global/header.html' %}
  {% include 'landing_pages/gold-lg/v2-0/atf.html' %}
  {% include 'landing_pages/gold-lg/v2-0-paid/benefits.html' %}
  {% include 'landing_pages/gold-lg/v2-0-paid/technology.html' %}
  {% include 'landing_pages/gold-lg/v2-0/ingredients.html' %}
  {% include 'landing_pages/gold-lg/v2-0/instagram.html' %}
  {% include 'landing_pages/gold-lg/v2-0/purchase_options.html' %}
  {% include 'landing_pages/gold-lg/v2-0/reviews.html' %}
  {% include 'landing_pages/gold-lg/v2-0-paid/faq.html' %}
  {% include 'landing_pages/gold-lg/v2-0/references.html' %}
  {% include 'landing_pages/global/footer.html' %}
</section>

{% endblock %}
