@import 'landing_base';

.ingredients-header {
  background: url('http://cdn.besynchro.com/genesis/images/chloroplasts-compressed.jpg') no-repeat center center; 
  background-size: cover;
  color:#ffffff;
  padding: 70px 20px;
  text-align: center;
}