<section class="faq">
  <h3 class="faq__title">FAQ</h3>
  <div class="faq__card">
    <div class="faq__inner">
      <span class="p--header">Where is Synchro Genesis made?</span>
      <div class="faq__copy">
        <p class="p--text">Synchro Genesis is made in a cGMP and Organic Certified facility in Southern California.</p>
      </div>
    </div>
    <div class="toggle-single-view">
      {% include 'landing_pages/global/icon-toggle-more.html' %}
    </div>
  </div>
  <div class="faq__card">
    <div class="faq__inner">
      <span class="p--header">Where do the ingredients come from?</span>
      <div class="faq__copy">
        <p class="p--text">Our cacao is wild harvested from an Organic Certified property in the mountains of Ecuador. Our maca root comes from an Organic Certified farm in the mountains of Peru. Our acai is wild harvested from Organic Certified
          properties in Brazil. Our turmeric extract comes from an Organic Certified farm in Vietnam. Our kelp, dulse, dandelion and alfalfa come from Organic Certified properties in the USA. Our spirulina and chlorella come from Organic Certified
          farms in China. Our pea protein comes from a Non-GMO Certified farm in the USA. Our hemp comes from an Organic Certified farm in Canada.</p>
      </div>
    </div>
    <div class="toggle-single-view">
      {% include 'landing_pages/global/icon-toggle-more.html' %}
    </div>
  </div>
  <div class="faq__card">
    <div class="faq__inner">
      <span class="p--header">Where is Synchro based?</span>
      <div class="faq__copy">
        <p class="p--text">Synchro was founded in 2011 by biochemist and nutritionist Graham Ryan with the mission of helping others pursue a state of true health. Synchro is headquartered in and ships all orders from Berkeley, CA.</p>
      </div>
    </div>
    <div class="toggle-single-view">
      {% include 'landing_pages/global/icon-toggle-more.html' %}
    </div>
  </div>
  <div class="faq__card">
    <div class="faq__inner">
      <span class="p--header">Who should use Synchro Genesis?</span>
      <div class="faq__copy">
        <p class="p--text">Synchro Genesis will be particularly beneficial for anyone looking to increase metabolic function and energy levels. Because Synchro Genesis is highly anti-inflammatory, it can also help in alleviating foggy brain and achy
          joints and muscles.</p>
      </div>
    </div>
    <div class="toggle-single-view">
      {% include 'landing_pages/global/icon-toggle-more.html' %}
    </div>
  </div>
  <div class="faq__card">
    <div class="faq__inner">
      <span class="p--header">How does Synchro Genesis work?</span>
      <div class="faq__copy">
        <p class="p--text">The benefits of Synchro Genesis are three-fold. First, exceptional levels of antioxidants neutralize toxins in the body, reducing systemic inflammation and helping to restore proper metabolic and hormone function. Second,
          cacao works as a metabolic and cardiovascular stimulant. This produces Genesis’ energizing effects while being much gentler on the body and adrenals than coffee and other caffeine sources. Finally, the ratio of proteins, carbs and fats in
          Genesis work to promote healthy metabolic function and lean body composition over time.</p>
      </div>
    </div>
    <div class="toggle-single-view">
      {% include 'landing_pages/global/icon-toggle-more.html' %}
    </div>
  </div>
  <div class="faq__card">
    <div class="faq__inner">
      <span class="p--header">How do I use Synchro Genesis?</span>
      <div class="faq__copy">
        <p class="p--text">Mix 4 tablespoons of Synchro Genesis in 8oz of ice-cold water or non-dairy milk. Shake well and enjoy. That’s it. For best results and vibrant true health, use at least one serving daily.</p>
      </div>
    </div>
    <div class="toggle-single-view">
      {% include 'landing_pages/global/icon-toggle-more.html' %}
    </div>
  </div>
  <div class="faq__card">
    <div class="faq__inner">
      <span class="p--header">When can I expect results?</span>
      <div class="faq__copy">
        <p class="p--text">If you’re like most people, you’ll feel a boost within 30 minutes of drinking a single serving of Genesis. That being said, the real benefits of Genesis arise with more consistent use. It’s generally after about two weeks
          of consistent daily use that people start to notice their energy levels throughout the day and overall well-being have improved dramatically.</p>
      </div>
    </div>
    <div class="toggle-single-view">
      {% include 'landing_pages/global/icon-toggle-more.html' %}
    </div>
  </div>
  <div class="faq__card">
    <div class="faq__inner">
      <span class="p--header">Do I need to refrigerate Synchro Genesis?</span>
      <div class="faq__copy">
        <p class="p--text">It’s not necessary, but refrigeration will extend shelf life and potency considerably.</p>
      </div>
    </div>
    <div class="toggle-single-view">
      {% include 'landing_pages/global/icon-toggle-more.html' %}
    </div>
  </div>
  <p class="p--text footnote">The statements on this website have not been evaluated by the Food and Drug Administration. These products are not intended to diagnose, treat, cure or prevent any disease.</p>
</section>
