{% extends "landing_pages/global_base.html" %}
{% block title %} Synchro Gold | The World's Most Powerful Turmeric Supplement {% endblock %}
{% block description %} Gold Liposomal Turmeric was created after years of research and development to give you the perfect tool for fighting inflammation and maximizing energy levels. See how much better you can feel with the world's most powerful turmeric supplement. {% endblock %}
{% block head %}

{{ super() }}

<!-- facebook pixel -->
<script>
  !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
      document,'script','https://connect.facebook.net/en_US/fbevents.js');

    fbq('init', '495265410669440');
    fbq('track', 'PageView', {
      property: 'Synchro-Gold'
    });
  </script>
<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=495265410669440&ev=PageView&cd[property]=Synhcro-Gold&noscript=1" /></noscript>

<!-- VideoJS - TODO: Why is there a weird line when I include this via fanstatic but not here??? -->
<link href="http://vjs.zencdn.net/5.8.8/video-js.css" rel="stylesheet">

<link rel="canonical" href="http://gold.besynchro.com/">

<!-- Custom styles for this template -->
<link href="{{ url_for('static', filename='css/animate.css') }}" rel="stylesheet">
<!-- Google fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Raleway:300,400,700" rel="stylesheet">
<!-- Font Awesome -->
<script src="https://use.fontawesome.com/b3f7794244.js"></script>

<meta name="google-site-verification" content="ZhbX-aVaeZXWEolRbslrE7EU9M9ROJmkTb8Wb63jzOA" />
<meta name="google-site-verification" content="7f8BFFtINsQrTL7If4hePO9SMRkzdnEp5a-I4JWr8ZE" /> <!-- for www.synchrogold.com -->
{% endblock %}
