{% extends "landing_pages/gold/base.html" %}

{% block content %}

{% include 'landing_pages/gold/sections/header.html' %}
{% include 'landing_pages/gold/sections/atf.html' %}
{% include 'landing_pages/gold/sections/benefits.html' %}
{% include 'landing_pages/gold/sections/intro.html' %}
{% include 'landing_pages/gold/sections/technology.html' %}
{% include 'landing_pages/gold/sections/research.html' %}
{% include 'landing_pages/gold/sections/ingredients.html' %}
{% include 'landing_pages/gold/sections/quotes.html' %}
{% include 'landing_pages/gold/sections/purchase_options.html' %}
{% include 'landing_pages/gold/sections/reviews.html' %}
{% include 'landing_pages/gold/sections/faq.html' %}
{% include 'landing_pages/gold/sections/footer.html' %}

{% endblock %}
