{% extends "landing_pages/landing_base.html" %}
{% block title %} Synchro Cognos {% endblock %}
{% block head %}

{{ super() }}

<!-- facebook pixel -->
<script>
  !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
      document,'script','https://connect.facebook.net/en_US/fbevents.js');

    fbq('init', '495265410669440');
    fbq('track', 'PageView', {
      property: 'Synchro-Cognos'
    });
  </script>
<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=495265410669440&ev=PageView&cd[property]=Synhcro-Gold&noscript=1" /></noscript>
 

<link rel="canonical" href="http://cognos.besynchro.com/">

<!-- Custom styles for this template -->
<link href="{{ url_for('static', filename='css/'+stylesheet) }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/animate.css') }}" rel="stylesheet">
<!-- Google fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Raleway:300,400,700" rel="stylesheet">
<!-- Font Awesome -->
<script src="https://use.fontawesome.com/b3f7794244.js"></script>

<script src=“https://use.typekit.net/las5ocl.js”></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>

{% endblock %}

{% block footer %}
<div class="footer">
  {% block footer_content %}{% endblock %}
</div>
{% endblock %}