{% extends "landing_pages/global/base.html" %}

{% block title %} The Keto Plan | Ketogenic Nutrition, Perfected {% endblock %}

{% block description %} When done intelligently, the ketogenic diet can completely revitalize your body and brain. The products in the Keto Plan are designed to get you the best possible results from the ketogenic diet, simply and deliciously. {% endblock %}

{% block head %}

{{ super() }}

<script> gtag('event', 'page_view', { 'send_to': 'AW-864481593', 'ecomm_prodid': '9748925129' }); </script>

<script>
  !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
      document,'script','https://connect.facebook.net/en_US/fbevents.js');

    fbq('init', '495265410669440');
    fbq('track', 'PageView', {
      property: 'Keto-Plan'
    });
  </script>
<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=495265410669440&ev=PageView&cd[property]=Keto-Plan&noscript=1" /></noscript>

<link rel="canonical" href="">

{% endblock %}
