// BENEFITS

.benefits {
  &__icons {
    padding-bottom: $padding-desktop;
    @include s-screen {
      padding-bottom: $padding-mobile;
    }
  }

  &__icon {
    text-align: center;
  }

  &__img {
    height: pxToRem(80);
    @media #{$mobile} {
      height: pxToRem(55);
    }
  }

  &__point {
    font-size: 20px;
    max-width: 80%;
    margin: 30px auto 0;
    @include s-screen {
      margin-bottom: 40px;
    }

    span {
      @include m-screen {
        display: none;
      }
    }
  }

  .extended-benefits {
    display: table;

    &__item {
      width: 50%;
      display: inline-block;
      vertical-align: top;
      @include s-screen {
        width: 100%;
      }
    }

    &__image {
      width: 100%;
    }

    &__copy {
      margin: 50px $padding-desktop;
      @include m-screen {
        margin: 40px $padding-tablet;
      }
      @include s-screen {
        margin: 40px $padding-mobile;
      }
    }

    &__header {
      font-weight: $font-normal;
      color: $color-primary;
      font-size: 30px;
      margin-bottom: 40px;
    }
  }
}

.benefits-cta {
  display: none;
  @include sm-screen {
    display: block;
    margin-bottom: 50px;
    text-align: center;
  }
}
