// BENEFITS

.benefits {
  .benefits-cta {
    display: none;
    @include sm-screen {
      display: block;
      margin-bottom: 50px;
      text-align: center;
    }
  }

  .extended-benefits {
    display: table;

    &__item {
      width: 50%;
      display: inline-block;
      vertical-align: top;
      @include s-screen {
        width: 100%;
      }
    }

    &__image {
      width: 100%;
    }

    &__copy {
      margin: 50px 60px;
    }

    &__header {
      font-weight: $font-normal;
      color: $color-primary;
      font-size: 30px;
      margin-bottom: 40px;
    }
  }
}

.gold-benefits__icon {
  @extend %icon-group--item;
}

.gold-ingredients__item {
  vertical-align: top;
}

.gold-benefits__img {
  @extend %icon-group--img;
}

.gold-benefits__point {
  font-size: pxToRem(20) !important;
  max-width: 80%;
  margin: pxToRem(40) auto;
  @media #{$medium} {
    margin: pxToRem(30) auto pxToRem(60);
  }
  @media #{$mobile} {
    font-size: pxToRem(16) !important;
    margin: pxToRem(20) auto pxToRem(50);
  }

  span {
    @media #{$mobile} {
      display: none;
    }
  }
}
