.benefits {
  font-size: 0;
  padding: 0 $gutter-small $gutter-small;
  @include s-screen {
    padding-bottom: 0;
  }

  &__point {
    max-width: none;
    text-align: center;
    width: 25%;
    display: inline-block;
    padding: 0 15px;
    margin: 0 0 20px;
    vertical-align: top;
    @include m-screen {
      width: 50%;
    }

    .icon-toggle-more {
      &.active {
        margin-top: 20px;
      }
    }

    &.active {
      .benefits__copy {
        max-height: 850px;
      }
    }
  }

  &__icon {
    height: 60px;
  }

  &__header {
    max-width: 240px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: $spacing-normal;
    text-align: center;
    text-transform: uppercase;
    @include xs-screen {
      max-width: none;
    }
  }

  &__copy {
    max-width: none;
    text-align: center;
    width: 25%;
    display: inline-block;
    padding: 0 15px;
    margin: 0 0 40px;
    vertical-align: top;
    @include m-screen {
      width: 50%;
    }
    @include xs-screen {
      padding: 0;
      width: 100%;
    }
  }

  &__image {
    width: 100%;
  }

  &__text {
    padding: 0 20px;
    overflow: auto;
    background: $color-silver-light;

    .p--text {
      font-size: 18px;
    }
  }
}

.benefits-cta {
  display: none;
  @include sm-screen {
    display: block;
    margin-bottom: 50px;
    text-align: center;
  }
}

.benefits-2 {
  font-size: 0;
  padding: $gutter-medium $gutter-medium $gutter-small;
  @include l-screen {
    padding: $gutter-medium $gutter-small $gutter-small;
  }
  @include m-screen {
    padding: $gutter-medium $gutter-small 0;
  }
  @include sm-screen {
    padding: $gutter-small;
  }
  @include xs-screen {
    padding: $gutter-small 0;
  }

  &__copy {
    width: 25%;
    display: inline-block;
    padding: 20px 20px 0;
    vertical-align: top;
    text-align: center;
    @include m-screen {
      width: 50%;
    }
    @include xs-screen {
      width: 100%;
      text-align: center;
    }
  }

  &__image {
    width: 100%;
  }

  &__text {
    margin-top: 30px;

    .p--text {
      font-size: 20px;
      font-weight: $font-medium;
      opacity: 0.5;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 25px;
    line-height: initial;
  }
}
