.claim-icons {
  padding: 30px 0;
  text-align: center;

  &__list {
    font-size: 0;
  }

  &__item {
    display: inline-block;
    width: 20%;
    margin: 30px 0;
    vertical-align: top;
    @include s-screen {
      width: 30%;
      vertical-align: top;
    }
  }

  &__image {
    width: 80px;
    margin-bottom: 10px;
  }

  &__text {
    color: #7b858b;
    margin-bottom: 0;
  }
}
