.faq {
  background: $color-silver-light;
  overflow: auto;
  font-size: 0;
  padding: 0 $gutter-large 30px;
  @include l-screen {
    padding: 0 $gutter-medium 10px;
  }
  @include s-screen {
    padding: 0 $gutter-small 30px;
  }

  #faq-columns {
    column-gap: 30px;
    margin: 0 auto;
    column-count: 4;
    @include l-screen {
      column-count: 3;
    }
    @include m-screen {
      column-count: 2;
    }
    @include s-screen {
      column-count: 1;
    }
  }

  &__card {
    background: $color-ivory;
    padding: $gutter-small;
    display: inline-block;
    margin-bottom: 30px;
    text-align: center;
    @include s-screen {
      margin-bottom: 10px;
    }

    &.active {
      .faq__copy {
        max-height: 800px;
      }
    }

    .p--header {
      font-size: 21px;
      font-weight: $font-demi;
    }

    .footnote {
      font-size: 15px;
    }
  }

  &__copy {
    max-height: 20px;
    overflow: hidden;
    transition: 0.5s ease-in-out all;
  }
}
