// Footer

.footer {
  background: $color-ebony;
  padding: $gutter-small 0;
  @include s-screen {
    padding: $gutter-small;
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
  }

  &__top {
    color: $color-ivory !important;
    margin-right: auto;
    font-size: 18px;
  }

  &__logo {
    .synchro-logo {
      display: block;
      margin: 7px auto 10px;
      height: 18px;
      fill: $color-ivory;
    }

    .p--text {
      color: #6F6F6F;
      font-size: 16px;
      font-weight: $font-medium;
      margin: 0;
    }
  }
}

.footer-expanded {
  background: $color-ebony;
  padding: $gutter-large 0;
  position: relative;
  @include m-screen {
    padding: $gutter-medium;
  }
  @include s-screen {
    padding: $gutter-medium $gutter-small 110px;
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr;
    @include s-screen {
      display: block;
      text-align: center;
    }
  }

  &__top {
    color: $color-ivory !important;
    font-size: 18px;
    justify-self: left;
    @include s-screen {
      margin: 0 auto;
      position: absolute;
      bottom: 40px;
      left: 30px;
    }
  }

  &__list {
    margin-bottom: 25px;
    @include s-screen {
      margin-bottom: 35px;
    }
  }

  &__title {
    font-size: 14px;
    color: $color-ivory;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-weight: $font-demi;
  }

  &__item {
    font-size: 16px;
    color: #6F6F6F;
    margin: 15px 0;
    @include s-screen {
      margin: 15px 10px 0;
      display: inline-block;
    }
  }

  &__logo {
    justify-self: center;
    @include s-screen {
      margin: 40px 0;
    }

    .synchro-logo {
      display: block;
      margin: 10px auto;
      fill: $color-ivory;
      @include s-screen {
        width: 120px;
      }
    }

    .p--text {
      color: #6F6F6F;
      font-size: 16px;
      font-weight: $font-medium;
      margin: 0;
    }
  }

  &__footnote {
    display: grid;
    grid-template-columns: 1fr 8fr;
    @include s-screen {
      display: block;
      text-align: center;
    }
  }

  &__footnote-copy {
    grid-column-start: 2;
    margin-top: 30px;

    .p--text {
      font-size: 16px;
      color: #6F6F6F;
      margin: 0;
    }
  }

  &__copyright {
    opacity: 0.8;
    display: block;
  }
}
