// Footer

.footer {
  padding: 30px 0;
  text-align: center;
  background: $color-primary;
  @include s-screen {
    padding-left: $gutter-mobile;
    padding-right: $gutter-mobile;
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
  }

  &__logo {
    grid-column-start: 2;
  }

  .synchro-logo {
    display: block;
    margin: 7px auto 9px;
    height: 17px;
    fill: #fff;
  }

  .p--text {
    color: #fff;
    font-size: 16px;
    font-weight: $font-demi;
  }

  &__top {
    background: #fff;
    font-family: $font-awesome;
    width: 30px;
    height: 30px;
    margin-right: auto;
    line-height: 27px;
    font-size: 15px;
  }
}
