.ingredients {
  text-align: center;

  .p--title {
    color: $color-ivory;
    border: 1px solid $color-ivory;
    margin-top: 10px;
  }

  &__icons {
    padding: 50px 50px 15px;
    font-size: 0;
    @include s-screen {
      padding: 40px 20px 10px;
    }
  }

  &__icon-box {
    display: inline-block;
    text-align: center;
    width: 20%;
    vertical-align: top;
    padding-bottom: 15px;
    @include l-screen {
      width: 25%;
    }
    @include xs-screen {
      width: 50%;
    }

    .p--text {
      color: $color-ivory;
      font-size: 16px;
      letter-spacing: 1.5px;
      font-weight: $font-demi;
      text-transform: uppercase;
    }
  }

  &__icon {
    max-width: 90px;
  }

  &__items {
    padding: $gutter-large 0 20px;
    font-size: 0;
    @include s-screen {
      padding-top: $gutter-medium;
    }
  }

  &__image {
    max-height: 150px;
    max-width: 100%;
  }

  &__copy {
    .p--header {
      font-size: 24px;
    }
  }

  &__details {
    padding: 0 $gutter-large $gutter-medium;
    font-size: 0;
    @include m-screen {
      padding: 0 $gutter-medium;
    }
    @include s-screen {
      padding: 0 $gutter-small $gutter-small;
    }
  }

  &__facts {
    width: 40%;
    display: inline-block;
    vertical-align: middle;
    @include m-screen {
      width: 100%;
    }

    img {
      width: 100%;
      max-width: 500px;
      box-shadow: 0 0 6px rgba(0,0,0,0.1);
    }
  }

  &__images {
    width: 60%;
    font-size: 0;
    display: inline-block;
    vertical-align: middle;
    @include m-screen {
      width: 100%;
      margin-top: 40px;
    }
  }

  &__item-box {
    vertical-align: top;
    margin-bottom: 20px;
    width: 33%;
    display: inline-block;
    padding: 0 5%;
    @include l-screen {
      width: 50%;
    }
    @include m-screen {
      width: 33%;
    }
    @include s-screen {
      width: 50%;
      margin-bottom: 0;
    }
  }

  &__header {
    font-weight: $font-medium;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: $spacing-normal;
    margin: 20px 0;
  }
}
