// Page Wrapper

.container-fluid {
  max-width: 1400px;
  padding-left: 5% !important;
  padding-right: 5% !important;
}
// Section Padding

.section--padding {
  padding-top: 70px;
  padding-bottom: 70px;
  @include s-screen {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.section--padding-50 {
  padding-top: 50px;
  padding-bottom: 50px;
  @include s-screen {
    padding-left: 10px;
    padding-right: 10px;
  }
}
