.purchase {
  padding-bottom: $gutter-large;
  @include m-screen {
    padding-bottom: $gutter-medium;
  }
  @include s-screen {
    padding: $gutter-small;
  }

  &__item {
    transition: transform 0.3s ease-in-out;
    text-align: center;
    max-width: 450px;
    margin: 0 auto;
    padding: $gutter-medium $gutter-large;

    &:hover {
      transform: scale(1.025);
    }
    @include m-screen {
      padding: $gutter-medium $gutter-small;
    }
  }

  &__item-img {
    transition: transform 0.3s ease-in-out;
    height: 220px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__item-plan {
    min-height: 0;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: $font-demi;
    margin: 20px 0 10px;
  }

  &__item-qty {
    margin-top: 10px 0;
    font-weight: $font-normal;
    line-height: 1.4;
    font-size: 18px;
    opacity: 0.5;
  }

  &__item-discount {
    font-size: 22px;
    font-weight: $font-demi;
    background: #C4A498;
    color: white;
    width: fit-content;
    margin: 20px auto 10px;
    padding: 2px 15px;
  }

  &__item-special {
    color: #e85050;
    font-weight: $font-demi;
    font-size: 14px;
    margin: 10px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  &__item-pricing {
    margin-bottom: 20px;
  }

  &__item-price {
    font-size: 64px;
    margin: 10px 0;
    color: $color-ebony;
    opacity: 0.9;
    line-height: 72px;
    @include sm-screen {
      font-size: 53px;
      line-height: 60px;
    }

    &.premium-animate {
      opacity: 1;
      font-size: 72px;
      @include sm-screen {
        font-size: 60px;
      }
    }
  }

  &__item-cents {
    font-size: 25px;
    vertical-align: top;
    line-height: 45px;
    border-bottom: 2px solid #e9e9ea;
    margin-left: 3px;
  }

  &__item-off {
    font-weight: $font-demi;
    margin: 10px 0;
    font-size: 15px;
    text-transform: uppercase;

    span {
      font-weight: $font-medium;
      letter-spacing: 1px;
      opacity: 0.5;
      text-decoration: line-through;
    }
  }

  .premium-item {
    background: #fbfaf9;
    @include s-screen {
      margin-top: 30px;
    }
  }
}
