.purchase {
  text-align: center;

  &__item {
    margin: 30px 0 0;
    @media (max-width: $break-mobile) {
      width: 100%;
    }
  }

  .hidden-templates {
    display: none;
  }

  .shopify-buy__product__variant-img {
    margin: 20px 0;
    max-width: 300px;
    width: 100%;
  }

  .pID {
    display: none;
  }

  .shopify-buy__product__price,
  .shopify-buy__product__title {
    font-family: 'Open Sans', sans-serif;
    color: #3f3f3f;
    font-size: 16px;
    line-height: 1.8;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
  }

  .shopify-buy__product__price {
    margin-bottom: 30px;
  }

  .shopify-buy__product__actual-price {
    font-weight: bold;
  }

  .shopify-buy__product__variant-title {
    font-family: 'Open Sans', sans-serif;
    color: #3f3f3f;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.8;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
  }

  &__text-highlight {
    background-color: yellow;
  }

  .shopify-buy__btn {
    margin: 30px;
  }
}
