.references {
  padding-bottom: $gutter-medium;
  @include s-screen {
    padding: 0 $gutter-small $gutter-small;
  }

  &__wrapper {
    &.active {
      .references__text {
        max-height: 2500px;
      }
    }

    .icon-toggle-more {
      margin: 20px auto;

      &:before {
        content: "view all";
      }

      &.active {
        &:before {
          content: "view less";
        }
      }
    }
  }

  &__text {
    text-align: center;
    max-height: 122px;
    overflow: hidden;
    transition: 0.5s ease-in-out all;

    .p--text {
      max-width: 900px;
    }

    .footnote {
      font-size: 15px;
    }
  }

  &__url {
    font-size: 80%;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
}
