.references {
  @include s-screen {
    padding: 0 $gutter-small;
  }

  &__text {
    text-align: center;

    .p--text {
      margin-bottom: 40px;
      max-width: 900px;
    }

    .footnote {
      font-size: 15px;
    }
  }

  &__url {
    font-size: 80%;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
}
