.synchro-reviews {
  display: block;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  text-align: center;
  padding: 70px 20px;
}

.promoted-products-box {
  @media (max-width: $break-mobile) {
    display: none !important;
  }
}
