// TECHNOLOGY

.technology {
  position: relative;
  text-align: center;

  .row {
    padding: 0 5%;
  }

  .p--header__small {
    text-transform: uppercase;
    margin-bottom: pxToRem(18);
  }

  p {
    line-height: 1.38;
    text-align: center;
    margin-top: pxToRem(30);
    margin-bottom: pxToRem(30);
    width: 90%;
    font-size: pxToRem(21);
    margin-right: auto;
    margin-left: auto;
    @media #{$mobile} {
      width: 90%;
      font-size: pxToRem(18);
    }
  }

  .p--title {
    margin-bottom: pxToRem(55);
  }
}

.tab-content {
  min-height: 300px;
  padding: pxToRem(30) pxToRem(40);
}

.tab-pane {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;

  &.active {
    max-height: 650px;
  }
}

.tab-content--header {
  @extend .p--header__small;
  text-transform: none!important;
  margin: pxToRem(20);
  font-weight: 100;
  @media #{$mobile} {
    font-size: pxToRem(32);
    margin: pxToRem(40) pxToRem(30);
    line-height: 1.2;
  }
}

.technology--tabs {
  margin: pxToRem(55) 0 0;
  border-radius: 12px;
  box-shadow: inset 0 0 1px #bdbdbd;
  @media #{$mobile} {
    margin-bottom: pxToRem(55);
    box-shadow: none;
  }
}

.tabs {
  max-width: pxToRem(1200);
}

.tabs-inner {
  display: inline-block;
  font-size: 0;
  height: pxToRem(115);
  width: 100%;
  border-radius: pxToRem(12) pxToRem(12) 0 0;
  overflow: hidden;
  @media #{$mobile} {
    border-radius: 0;
    height: initial;
  }
}

.tab-box {
  display: inline-block;
  width: 25%;
  @media #{$mobile} {
    width: 100%;
    box-shadow: inset 0 0 1px #e2e2e2;
    border-radius: pxToRem(6);
    margin: pxToRem(5) 0;
    overflow: hidden;

    &.active {
      box-shadow: inset 0 0 1px #fdbd39;
    }
  }
}

.tab {
  background: #F4F4F5;
  position: relative;
  line-height: pxToRem(100);
  font-size: pxToRem(20);
  cursor: pointer;
  color: $font-color;
  outline: 1px solid #ffffff;
  @media #{$medium} {
    font-size: initial;
  }
  @media #{$mobile} {
    line-height: initial;
  }

  &:after {
    content: "";
    display: block;
    border-width: 10px;
    border-style: solid;
    border-color: #f4f4f5 transparent transparent;
    margin-left: -10px;
    position: absolute;
    bottom: -20px;
    left: 50%;
    @media #{$mobile} {
      display: none;
    }
  }

  h6 {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    padding: pxToRem(15);
  }

  &:hover {
    color: $font-color;
  }

  &.active {
    @extend %gradient;
    color: #ffffff;

    &:after {
      border-color: $gradient-color-orange transparent transparent;
      @media #{$mobile} {
        display: block;
      }
    }
  }
}

.tab-register {
  display: block;
  height: pxToRem(6);
  background: linear-gradient(to right, $tab-inactive-color 0%, $tab-inactive-color 100%);
  transition: background ease-in-out 0.4s;
  position: absolute;
  top: 0;
  left: 6%;
  width: 90%;
}
// COLUMN 2.4

.col-md-2pt4 {
  $perc-width: 100;
  $item-count: 5;
  float: left;
  width: $perc-width / $item-count * 1%;
  @media (max-width: 480px) {
    width: 100% !important;
  }
}

.about {
  text-align: center;

  .p--header {
    text-transform: none;
    color: #751e85;
  }
}
