// STYLES FOR ONGOING EXPERIMENTS/TESTS

.cap003-01 {
  .top-offer-bar {
    background: $color-silver-light;

    &__text {
      font-weight: $font-demi;
      color: rgba(0,0,0,0.7);
    }

    .a--cta {
      background: $color-gold;
      margin: 5px 0;
      border-radius: 4px;
      padding: 7px 15px;
    }
  }

  .purchase-3 {
    &__offer {
      margin-bottom: 0;
    }

    &__shipping {
      color: rgba(0,0,0,0.7);
      margin: 20px auto;
      font-weight: $font-demi;
      font-size: 16px;
      letter-spacing: 1px;
      text-transform: uppercase;

      &.cap003-hide-mobile i {
        @include xs-screen {
          display: none;
        }
      }
    }
  }
}
