// Primary CTA

.a--cta {
  display: inline-block;
  -webkit-appearance: none;
  background: $color-cta;
  padding: 13px 30px;
  border: none;
  transition: background-color 0.1s ease-in-out;
  font-family: $font-primary;
  color: #fff;
  font-size: 14px;
  font-weight: $font-bold;
  letter-spacing: 0.1em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 1;
  }
}
