.icon-learn-more {
  width: 100px;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  font-size: 18px;

  &__svg {
    height: 30px;
    transition: 0.2s ease-in-out all;
  }

  &__circle {
    stroke: $color-ebony;
  }

  &__plus {
    fill: $color-ebony;
  }

  &__text {
    font-weight: $font-medium;
    text-decoration: underline;
    max-height: 30px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.2s ease-in-out all;
  }

  &.active {
    .icon-learn-more__svg {
      transform: rotate(45deg);
    }

    .icon-learn-more__text {
      max-height: 0;
    }
  }
}
