.instagram {
  background: $color-silver-light;
  overflow: auto;
  padding: 0 $gutter-large $gutter-large;
  @include l-screen {
    padding: 0 $gutter-small $gutter-large;
  }
  @include s-screen {
    padding-bottom: $gutter-medium;
  }
  @include xs-screen {
    padding-bottom: 10px;
  }

  &__card {
    width: 25%;
    float: left;
    padding: 0 15px;
    @include m-screen {
      width: 33.33%;

      &.tweet-4 {
        display: none;
      }
    }
    @include sm-screen {
      width: 50%;

      &.tweet-3 {
        display: none;
      }
    }
    @include xs-screen {
      width: 100%;
      margin-bottom: 30px;
      padding: 0;
    }
  }

  &__content {
    background: $color-ivory;
    overflow: auto;
  }

  &__user {
    padding: 10px;

    img {
      display: inline-block;
      width: 30px;
      border-radius: 15px;
      margin-right: 10px;
    }

    .p--text {
      display: inline-block;
      margin: 0;
      font-weight: $font-medium;
      font-size: 18px;
      line-height: 30px;
    }
  }

  &__image {
    width: 100%;
  }

  &__likes {
    margin: 20px;
    font-size: 18px;
    font-weight: $font-medium;

    i {
      color: #ED4956;
    }
  }

  &__comment {
    margin: 20px;
    font-size: 21px;

    span {
      display: block;
      color: $color-genesis;
    }
  }
}

.instagram-slider {
  background: url("https://cdn.besynchro.com/gold/capsules/testimonial-bg%402x.png") repeat 0 0;
  background-size: contain;
  padding: $gutter-large 0;
  @include horizontal-slide;
  text-align: center;
  @include m-screen {
    padding: $gutter-medium 0;
  }
  @include sm-screen {
    padding: $gutter-medium $gutter-small;
  }

  &__post {
    background: $color-ivory;
    padding: 10px;
    display: inline-block;
    font-size: 0;
    @include sm-screen {
      max-width: 340px;
    }
  }

  &__image {
    width: 365px;
    @include sm-screen {
      width: 100%;
    }
  }

  &__content {
    width: 410px;
    vertical-align: middle;
    text-align: left;
    display: inline-block;
    padding: 0 20px 0 30px;
    @include sm-screen {
      width: initial;
      padding: 20px 10px 10px;
      display: block;
    }
  }

  &__profile {
    img {
      display: inline-block;
      width: 40px;
      height: 40px;
      border-radius: 22px;
      vertical-align: middle;
      margin-right: 15px;
    }
  }

  &__name {
    font-size: 24px;
    margin: 0;
    line-height: 30px;
    font-weight: $font-medium;
    display: inline-block;
    vertical-align: middle;
    @include sm-screen {
      font-size: 20px;
    }
  }

  &__quote {
    margin: 15px 0;
    line-height: initial;
    font-weight: $font-demi;
    font-size: 34px;
    @include sm-screen {
      font-size: 26px;
    }
  }

  &__stars {
    @include sm-screen {
      height: 26px;
    }
  }
}
