.rating {
  margin: 20px;

  &__stars {
    #rating__star {
      height: 30px;
      margin: 0 2px;
    }
  }

  &__icon {
    fill: $color-gold;
    fill-rule: nonzero;
  }

  &__count {
    font-weight: $font-demi;
    font-size: 14px;
    color: $color-silver-dark;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    margin: 5px 0 20px;

    &:before {
      content: "200+";
    }
  }
}

.rating-new {
  text-align: center;

  &__stars {
    display: inline-block;
    background: $color-ivory;
    padding: 10px 25px;
    border-radius: 50px;
    font-size: 0;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.05);

    #rating-new__star {
      height: 30px;
      margin: 0 4px;
      @include s-screen {
        height: 28px;
      }
    }
  }

  &__icon {
    fill: #FA9865;
    fill-rule: nonzero;
  }

  &__count {
    font-weight: $font-bold;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 auto;
    background: #FA9865;
    width: fit-content;
    padding: 5px 15px;
    border-radius: 0 0 10px 10px;
    color: $color-ivory;
    @include s-screen {
      padding: 5px 10px;
    }

    &:before {
      content: "1,400+ 5-star";
    }
  }
}
