.rating {
  margin: 20px;

  &__stars {
    #rating__star {
      height: 20px;
    }
  }

  &__icon {
    fill: $color-gold;
    stroke: $color-gold;
    fill-rule: nonzero;
  }

  &__count {
    font-weight: $font-medium;
    font-size: 14px;
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;

    &:before {
      content: "100+";
    }
  }
}
