// QUOTES

.slider {
  background-color: #272727;
  color: $color-ivory;
  text-align: center;
  background-image: url("https://cdn.besynchro.com/gold/v2-0/quote.svg");
  background-repeat: no-repeat;
  background-position: 9% 18%;
  background-size: 120px;
  padding: 60px;
  @include m-screen {
    background-image: none;
  }
  @include s-screen {
    padding: $gutter-small;
  }
}

.slides {
  padding: 0;
}

.slick-dots {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 0;
  width: 100%;
  @include s-screen {
    display: none !important;
  }

  [role="presentation"] {
    display: inline-block;
    width: 30px;
  }

  [type="button"] {
    font-size: 0;
    border: 0;
    height: 14px;
    width: 14px;
    border-radius: 7px;
    margin: 5px;
    outline: none;
  }

  .slick-active {
    [type="button"] {
      background-color: $color-gold;
    }
  }
}

.quote-text {
  max-width: 800px;
  display: inline-block;
  font-size: 25px;
  color: $color-ivory;
  z-index: 3;
  letter-spacing: 0.5px;
  margin: $gutter-small;
}

.quote-author-img {
  .slick-slide & {
    display: inline-block;
  }
  margin-top: 48px;
  margin-bottom: 24px;
  height: 64px;
  width: 64px;
}

.quote-author-name {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 15px;
  color: $color-ivory;
}
