.text-full-width {
  background: $color-silver-light;
  text-align: center;
  padding: $gutter-medium $gutter-large;
  @include s-screen {
    padding: $gutter-small;
  }

  .p--text {
    max-width: 900px;
    @include sm-screen {
      max-width: 90%;
    }
  }
}
