.top-offer-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  background: $color-ebony;
  z-index: $header-z-index;
  padding: 5px;

  &.pseudo {
    position: relative;
  }

  &__text {
    display: inline-block;
    color: $color-ivory;
    margin: 0 3px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 16px;
    vertical-align: middle;
  }

  &__desktop {
    @include xs-screen {
      display: none;
    }
  }

  .a--cta {
    height: 30px;
    margin: 7px 3px;
    line-height: 30px;
    padding: 0 14px;
    vertical-align: middle;
    background: $color-ivory;
    color: $color-ebony;
  }
}
