.top-offer-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  background: $color-ebony;
  z-index: $header-z-index;
  padding: 5px;
  max-width: 2000px;
  margin: 0 auto;

  &.pseudo {
    position: relative;
    visibility: hidden;
  }

  &__text {
    display: inline-block;
    color: $color-ivory;
    margin: 0 5px;
    line-height: 32px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 16px;
    vertical-align: middle;
  }

  &__desktop {
    @include xs-screen {
      display: none;
    }
  }

  &__code {
    background: $color-ivory;
    color: $color-ebony;
    padding: 3px 8px;
    margin: 0 5px;
    @include animate-flash;

    &:active,
    &:focus,
    &:hover,
    &:visited {
      color: $color-ebony;
    }
  }

  .a--cta {
    height: 30px;
    margin: 7px 3px;
    line-height: 30px;
    padding: 0 14px;
    vertical-align: middle;
    background: $color-ivory;
    color: $color-ebony;
  }
}
