{% extends "landing_pages/gold-capsules/susan/base.html" %}

{% block content %}

<section class="gold-lp gold-capsules">
  {% include 'landing_pages/global/header-expanded.html' %}
  {% include 'landing_pages/gold-capsules/susan/atf.html' %}
  {% include 'landing_pages/gold-capsules/susan/benefits.html' %}
  {% include 'landing_pages/gold-capsules/susan/technology.html' %}
  {% include 'landing_pages/gold-capsules/susan/instagram-1.html' %}
  {% include 'landing_pages/gold-capsules/susan/ingredients.html' %}
  {% include 'landing_pages/gold-capsules/susan/instagram-2.html' %}
  {% include 'landing_pages/gold-capsules/susan/purchase.html' %}
  {% include 'landing_pages/gold-capsules/susan/reviews.html' %}
  {% include 'landing_pages/gold-capsules/susan/faq.html' %}
  {% include 'landing_pages/gold-capsules/susan/cta.html' %}
  {% include 'landing_pages/gold-capsules/susan/research.html' %}
  {% include 'landing_pages/gold-capsules/susan/references.html' %}
  {% include 'landing_pages/global/footer.html' %}
</section>

{% endblock %}
