@import 'gold/gold_video';

.testimonials {

  &__gold-testimonial {
    background-image: linear-gradient(-90deg, #f1cd1e 0%, #F4922C 100%);
    text-align: center;
    padding: 30px 20px;
  }

  &__content {
    margin: 40px 0 10px;

    @media (max-width: $break-tablet) {
      padding: 0 40px;
    }
  }

  &__image {
    width: 60px;

    @media (max-width: $break-tablet) {
      display: block;
      margin-bottom: 20px;
    }

    @media (max-width: $break-mobile) {
      margin: 0 auto 20px;
    }
  }

  &__testimonial {
    display: inline-block;
    width: 75%;
    vertical-align: top;
    text-align: left;
    margin-left: 40px;
    position: relative;
    quotes: "\201C""\201D";

    @media (max-width: $break-tablet) {
      width: 100%;
      margin-left: 0;
    }

    @media (max-width: $break-mobile) {
      width: initial;
    }

    &:before {
      content: open-quote;
      position: absolute;
      left: -30px;
      top: -10px;
      font-family: Georgia, serif;
      font-size: 48px;
      color: #CD8B0E;
    }

    &:after {
      @media (max-width: $break-mobile) {
        content: close-quote;
        position: absolute;
        right: -30px;
        top: -10px;
        font-family: Georgia, serif;
        font-size: 48px;
        color: #CD8B0E;
      }
    }
  }

  &__quote {
    line-height: 1.5;
    color: #fff;
    font-size: 18px;

    @media (max-width: $break-mobile) {
      text-align: center;
    }
  }

  &__name {
    line-height: 40px;
    text-align: right;
    color: #fff;

    @media (max-width: $break-mobile) {
      text-align: center;
    }
  }
}
