@import 'landing_base'; 


.facts {
  background: #F6F8FB;
  padding: 70px 20px;

  @media (max-width: $break-mobile) {
    text-align: center;
  }

  &__title {
    margin-bottom: 20px;
  }

  .p--title:after {
    margin-left: 0;

    @media (max-width: $break-mobile) {
      margin-left: auto;
    }
  }

  &__img {
    display: block;
    margin: 0 auto;

    @media (max-width: $break-mobile) {
      margin-bottom: 40px;
      max-width: 100%;
    }
  }
}

.gold-purchase {
  padding: 70px 20px;
  text-align: center;

  &__item {
    margin: 30px 0 0;

    @media (max-width: $break-mobile) {
      width: 100%;
    }

  }

  .shopify-buy__product__variant-img {
    margin: 20px 0;
    max-width: 300px;
    width: 100%;
  }

  .pID {
    display: none;
  }

  .shopify-buy__product__title,
  .shopify-buy__product__price {
    font-family: 'Open Sans', sans-serif;
    color: #3f3f3f;
    font-size: 16px;
    line-height: 1.8;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
  }

  .shopify-buy__product__actual-price {
    font-weight: bold;
  }

  .shopify-buy__product__variant-title {
    font-family: 'Open Sans', sans-serif;
    color: #3f3f3f;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.8;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
  }

  &__text-highlight {
    background-color: yellow;
  }

  .shopify-buy__btn {
    margin: 30px;
  }
}

.gold-info {
  text-align: center;

  &__img {
    max-width: 100%;

    @media (max-width: $break-mobile) {
      max-width: 90%;
      margin: 0 auto 30px;
    }
  }
}

.synchro-products {
  padding: 70px 20px;
  text-align: center;

  .shopify-buy__product__variant-img {
    max-width: 270px;
    margin: 30px 0;
    width: 100%;
  }
}

.synchro-reviews {
  display: block;
  background: #F6F8FB;
  text-align: center;
  padding: 70px 20px;
}

.gold-research {
  padding: 70px 35px;
  text-align: center;

  &__item {
    padding: 70px 30px 0;

    .p--title {
      font-family: 'Open Sans', sans-serif;
      letter-spacing: normal;
    }

    @media (max-width: $break-mobile) {
      padding: 70px 0 0;
    }
  }

  &__footnote {
    margin-top: 70px;
    display: inline-block;
  }
}

.gold-faq {
  background: #F6F8FB;
  text-align: center;
  padding: 70px 35px;

  &__text {
    text-align: left;
    padding: 20px 0;
  }

  .p--text {
    margin-top: 20px;
    color: #7b858b;
  }
}
.gold-cta {
  background: url("http://cdn.besynchro.com/gold/Gold-leaf-smaller.jpg") center no-repeat;
  background-size: cover;
  padding: 120px 0;
  text-align: center;

  &__brandname {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    letter-spacing: 4px;
    font-size: 18px;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
  }

  &__title {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 44px;
    margin: 20px 60px 30px;
    font-weight: 300;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;

    @media (max-width: $break-mobile) {
      font-size: 40px;
    }
  }

  &__cta {
    padding: 15px 30px;
  }
}
