@import 'gold/gold_cro002';

/* variant 1 styles */
.cro004-1 {

  .main-header-container {
    height: 0;

    .main-header {
      background: rgba(193,138,8,0.10);
      transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;

      &.floated {
        background: rgba(240,240,240,0.9);

        .main-navigation {

          @media (max-width: $break-tablet) {
            background: rgba(240,240,240,0.9);
          }

          &__item {
            color: #3f3f3f;
            transition: all 1s ease;
            -moz-transition: all 1s ease;
            -webkit-transition: all 1s ease;

            @media (max-width: $break-tablet) {
              border-top: 1px solid #FFF;
            }
          }

          &__hamburger {
            background-color: #3f3f3f;
            transition: all 1s ease;
            -moz-transition: all 1s ease;
            -webkit-transition: all 1s ease;
          }
        }

        .synchro-logo {
          fill: #231f20;
          transition: all 1s ease;
          -moz-transition: all 1s ease;
          -webkit-transition: all 1s ease;
        }
      }

      &__logo {

        .synchro-logo {
          fill: #fff;
        }
      }

      .main-navigation {

        &__hamburger {
          background-color: #fff;
        }

        &__item {
          color: #fff;

          @media (max-width: $break-tablet) {
            border-top: 1px solid rgba(255,255,255,0.1);
          }
        }

        @media (max-width: $break-tablet) {
          background: rgba(125, 78,6, 0.9);
        }
      }
    }
  }

  .main-banner {
    text-align: left;
    padding-top: 180px;

    @media (max-width: $break-mobile) {
      padding-top: 100px;
    }

    &__background {
      position: relative;
      top: -16px;
      background-image: linear-gradient(-68deg, #FBB906 0%, #FE9806 97%);
    }

    &__headline {
      max-width: 750px;
      color: #fff;
      font-weight: 400;

      @media (max-width: $break-mobile) {
        font-size: 32px;
      }
    }

    &__uvp {
      position: initial;
      line-height: 1.5;
    }

    &__item {
      font-size: 23px;
      color: #FDF7EF;
      font-weight: 400;
      padding-left: 1.5em;

      @media (max-width: $break-mobile) {
        font-size: 20px;
      }

      &:before {
        color: #fff;
        display: inline-block;
        margin-left: -1.5em;
      }
    }

    &__cta-temp {
      display: block;
      margin-top: 40px;
      margin-bottom: 30px;

      @media (max-width: $break-mobile) {
        margin-bottom: 0;
      }
    }

    &__cta-text,
    &__cta-text a {
      font-family: 'Raleway', sans-serif;
      font-weight: 600;
      -webkit-font-smoothing: antialiased;
      font-size: 15px;
      letter-spacing: 0.3px;
      color: #FFFFFF;
      text-shadow: 1px 1px 1px rgba(0,0,0,0.15);
      cursor: pointer;
      display: inline-block;
      margin: 10px;
    }

    &__video {
      background-image: linear-gradient(-180deg, #6ECAF0 0%, #40ACD7 56%, #1A8FBF 100%);
      box-shadow: inset 0 1px 0 0 #C7EBFA, 0 10px 30px rgba(0,0,0,0.25);
      border-radius: 3px;
      padding: 16px 17px;

      &:before {
        content: '\f04b';
        font-family: FontAwesome;
        margin-right: 15px;
      }
    }

    &__image {
      max-width: 423px;
      position: absolute;
      left: calc(50% + 140px);
      bottom: -40px;

      @media (max-width: $break-mobile) {
        max-width: 90%;
        position: relative;
        width: 400px;
        left: 50%;
        transform: translate(-50%);
        bottom: -60px;
      }
    }
  }

  .gold-claims {
    box-shadow: none;
    padding-top: 50px;
  }

  .modal-box {
    position: absolute;
    z-index: 1000;
    width: 98%;
    background: white;
    border-bottom: 1px solid #aaa;
    border-radius: 4px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-clip: padding-box;
    transform: translate(-50%, -50%);
  }

  .modal-box header,
  .modal-box .modal-header {
    padding: 1.25em 1.5em;
    border-bottom: 1px solid #ddd;
  }

  .modal-box header h3,
  .modal-box header h4,
  .modal-box .modal-header h3,
  .modal-box .modal-header h4 { margin: 0; }

  .modal-box .modal-body { padding: 2em 1.5em; }

  .modal-overlay {
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 900;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3) !important;
  }

  a.close {
    line-height: 1;
    font-size: 1.5em;
    position: absolute;
    top: 5%;
    right: 2%;
    text-decoration: none;
    color: #bbb;
  }

  a.close:hover {
    color: #222;
    -webkit-transition: color 1s ease;
    -moz-transition: color 1s ease;
    transition: color 1s ease;
  }

  @media (min-width: 32em) {
    .modal-box { width: 70%; }
  }
}

/* variant 2 styles */

.cro004-2 {

  .main-banner {
    text-align: left;

    &__headline {
      max-width: 750px;

      @media (max-width: $break-mobile) {
        font-size: 32px;
      }
    }
  }
}

/* variant 3 styles */
.cro004-3 {
}
