@import 'gold/gold';

/** styles for video **/
.gold-video {
  width: 80%;
  max-width: 1000px;
  margin: -30px auto 70px;

  @media (max-width: $break-mobile) {
    width: 100%;
    margin-bottom: 0;
  }

  .video-js .vjs-big-play-button {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgba(47, 144, 217, 0.9);
    border: 0;
    border-radius: 5px;

    &:after {
      content: 'Watch the video';
      position: absolute;
      left: -10%;
      top: 115%;
      width: 120%;
      font-family: 'Open Sans', sans-serif;
      font-size: 13px;
      color: rgb(47,144,217);
      line-height: normal;
    }
  }

}
