@import 'landing_base';

* {
}

// COLORS
$yellow: #fecf33;
$cta-color: #fdbd39;
$cta-color-dark: #ee6723;
$image-backing: #333;

// INTERACTIVE ELEMENTS

%cta {
  background-color: $cta-color;
  &:hover {
   background-color: $cta-color-dark;
  }
  &:active {
    background-color: black;
  }
}

.a--cta {
  @extend %cta;
}

[data-toggle-content] {
  height: auto;
  display: none;
}

.content-toggle--button {
  display: block; width: 100%;
  padding: 1.6875rem 0;
  text-align: center;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

.content-toggle--text {
  display: block;
}

.content-toggle--icon {
  @extend %cta;

  position: relative;
  display: inline-block;
  width: 39 / 16 * 1rem;
  height: 39 / 16 * 1rem;
  border-radius: 50%;
  &:before,
  &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: "";
    background-color: #fff;
    transform: translate(-50%,-50%);
  }
  &:before {
    width: 1px;
    height: 25%;
  }
  &:after {
    width: 30%;
    height: 1px;
  }
}

// HERO

.bg-full-width {
  background: -webkit-image-set( url('http://cdn.besynchro.com/gold/susan/hero.jpg') 1x, url('http://cdn.besynchro.com/gold/susan/hero@2x.jpg') 2x, url('http://cdn.besynchro.com/gold/susan/hero@3x.jpg') 3x);


  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position-x: 0px;
  background-position-y: -200px;
  background-repeat: no-repeat;
  background-size: cover;

  transition: 0s linear;
  transition-property: background-position-y;
}

svg.external {
  height: 100%;
  width: 100%;
  display: inline-block; 
  margin: auto;
}

.main-header-container {
  height: 0;
	text-align: center;

	.main-header__logo .synchro-logo {
		width: 111px;
		height: 30.5px;
		fill: #fff;
	}
  .main-header {
    background: none;
  }
}

.atf {
  &.bg-full-width {
    position: relative;
    height: 750px;
    background-color: $image-backing;

    .p--header {
      color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
			font-size: #{70/16 * 1rem};
			text-align: center;
			text-shadow: 1.6px 1.9px 0 rgba(0, 0, 0, 0.1);
    }

    .down-arrow {
      width: 19px;
      bottom: 30px;
      position: absolute;
      left: 50%;
      transform: translate(-50%);
    }
  }
}

.intro {
  text-align: center;

  .p--text {
    font-size: 20px;
  }
}

// BENEFITS


.extended-content {
  overflow: hidden;
}

.gold-benefits__item {
  padding: 0;
}

.extended-content--image {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 36%; // guess
}

.extended-content--image--wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  img {
    width: 100%;
    height: auto;
  }
}

.about {
  text-align: center;

  .p--header {
    text-transform: none;
    color: #751e85;
  }
}

.ingredients {
  text-align: left;

  &__img-box {
    height: 450px;
  }
  
  .p--header {
    position: relative;

    .superscript {
      position: absolute;
      font-size: 20px;
      top: 0;
      left: -1em;
      color: #7f4c9b;
    }
  }
}

.faq {

  &__text {
    text-align: center;
  }
}

.footer {
  text-align: center;
  text-transform: none;
  background: #F6F8FB;
  padding: 0;

  .synchro-logo {
    display: block;
    margin: 0 auto;
    width: 110px;
    fill: #c6c6c6;
  }

  .bottom-border {
    margin-top: 40px;
    height: 12px;
  }
}
