{% extends "landing_pages/genesis/base.html" %}

{% block content %}

<section class="genesis-lp">
  {% include 'landing_pages/global/header-expanded.html' %}
  {% include 'landing_pages/genesis/v2-0/atf.html' %}
  {% include 'landing_pages/genesis/v2-0/benefits.html' %}
  {% include 'landing_pages/genesis/v2-0/instagram-1.html' %}
  {% include 'landing_pages/genesis/v2-0/ingredients.html' %}
  {% include 'landing_pages/genesis/v2-0/directions.html' %}
  {% include 'landing_pages/genesis/v2-0/instagram-2.html' %}
  {% include 'landing_pages/genesis/v2-0/purchase_options.html' %}
  {% include 'landing_pages/genesis/v2-0/reviews.html' %}
  {% include 'landing_pages/genesis/v2-0/faq.html' %}
  {% include 'landing_pages/global/footer-organic.html' %}
  {% include 'landing_pages/global/aos.html' %}
</section>

{% endblock %}
