{% extends "landing_pages/ketomanna/base.html" %}

{% block content %}

<section class="ketomanna-lp">
  {% if not returning %}
    {% include 'landing_pages/ketomanna/v1-0/top-offer-bar.html' %}
  {% endif %}
  {% include 'landing_pages/global/header.html' %}
  {% include 'landing_pages/ketomanna/v1-0/atf.html' %}
  {% include 'landing_pages/ketomanna/v1-0/about.html' %}
  {% include 'landing_pages/ketomanna/v1-0/intro.html' %}
  {% include 'landing_pages/ketomanna/v1-0/ingredients.html' %}
  {% include 'landing_pages/ketomanna/v1-0/facts.html' %}
  {% include 'landing_pages/ketomanna/v1-0/consumption.html' %}
  {% include 'landing_pages/ketomanna/v1-0/instagram.html' %}
  {% if not returning %}
    {% include 'landing_pages/ketomanna/v1-0/purchase.html' %}
  {% endif %}
  {% if returning %}
    {% include 'landing_pages/ketomanna/v1-0-returning/purchase.html' %}
  {% endif %}
  {% include 'landing_pages/ketomanna/v1-0/reviews.html' %}
  {% include 'landing_pages/global/footer-expanded.html' %}
</section>

{% endblock %}
