@import 'gold/susan/gold_susan';

.cro005-1 {

	.purchase--item {

		padding-bottom: 55% !important;

		@media (max-width: 1300px) {
			padding-bottom: 60% !important;
		}

		&__premium {

			.false-background--inner {
				background: #fbfaf9;
			}

			.premium--content--wrapper {
				background: #fbfaf9;
			}

			.premium--img--wrapper {
				top: 1%;

				img {
					width: 85%;
				}
			}
		}

		&--title,
		&--qty {
			margin-top: pxToRem(20);

		}

		&--img {
			top: 12.5%;
			width: 60%;
		}

		&--info {
			top: 42%;

			@media (max-width: 1300px) {
				top: 38%;
			}
		}

		&--cancel {
			font-size: pxToRem(14);
			margin-top: pxToRem(14);
			font-style: italic;
			color: $font-color-light;
		}

		&--pricing {
			bottom: pxToRem(100);
		}

		&--off {

			font-weight: bold;
			text-transform: uppercase;

			span {
				font-weight: normal;
				text-decoration: line-through;
			}
		}

		&--price {
			margin-top: pxToRem(15);
			opacity: 0.9;
			font-size: pxToRem(64);

			&.premium-animate {
				opacity: 1;
				font-size: pxToRem(72);
			}
		}

		.button--wrapper,
		&__premium .button--wrapper {
			bottom: pxToRem(40);
		}
	}
}