@import 'gold/susan/gold_susan';

.cro006-1 {

	.purchase {

		.purchase--item {
			height: 620px;

			@media #{$mobile} {
				height: 600px;
				border-bottom: 1px solid #e2e2e2;
			}

			&__premium {
				height: 640px;

				@media #{$mobile} {
					height: 560px;
					border-bottom: 0;
					margin-top: 70px;
				}

				.premium--img--wrapper {
					background-image: url('https://storage.googleapis.com/synchro-assets/gold/susan/gold-four-bottles-highlighted.svg');
					background-size: 280px;
					
					@media #{$medium} {
						background-size: initial;
					}
				}

				.button--wrapper {
					@media #{$medium-small-custom} {
						top: pxToRem(490) !important;
					}
				}
			}

			&--img {

				&.option-1 {
					background-image: url('https://storage.googleapis.com/synchro-assets/gold/susan/gold-one-bottle.svg')
				}

				&.option-2 {
					background-image: url('https://storage.googleapis.com/synchro-assets/gold/susan/starter-kit-Gold.svg')
				}
			}

			&--pricing {

				@media #{$mobile} {
					top: pxToRem(370);
				}
			}

			.button--wrapper {
				top: pxToRem(560);

				@media #{$mobile} {
					top: pxToRem(490);
				}
			}
		}
	}
}