// Layout
@mixin container($padding-top-bottom: 80px) {
  @include clearfix;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding: $padding-top-bottom 5%;
}
// Breakpoints
@mixin retina {
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    @content;
  }
}
@mixin xs-screen {
  @media (max-width: 680px) {
    @content;
  }
}
@mixin s-screen {
  @media (max-width: 767px) {
    @content;
  }
}
@mixin sm-screen {
  @media (max-width: 854px) {
    @content;
  }
}
@mixin m-screen {
  @media (max-width: 1199px) {
    @content;
  }
}
@mixin l-screen {
  @media (max-width: 1599px) {
    @content;
  }
}
@mixin xl-screen {
  @media (min-width: 1600px) {
    @content;
  }
}
// CTA
@mixin cta-custom($bg-color, $text-color) {
  background: $bg-color;
  color: $text-color;
}
// Elements
@mixin background-retina($image-url, $image-type: "png", $size: auto, $position: center center, $repeat: no-repeat) {
  $image1x_url: "https://cdn.besynchro.com/#{$image-url}.#{$image-type}";
  $image2x_url: "https://cdn.besynchro.com/#{$image-url}@2x.#{$image-type}";
  background-image: url("#{$image1x_url}");
  background-size: $size;
  background-position: $position;
  background-repeat: $repeat;
  @media all and (-webkit-min-device-pixel-ratio : 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
    background-image: url("#{$image2x_url}");
  }
}
@mixin sprite($position-x, $position-y, $width, $height) {
  background-image: url("");
  background-repeat: no-repeat;
  background-size: 500px 500px;
  background-position-x: $position-x;
  background-position-y: $position-y;
  width: $width;
  height: $height;
}
@mixin discount($banner-color: #E85050) {
  position: absolute;
  display: block;
  background-color: $banner-color;
  font-weight: $font-medium;
  letter-spacing: 0.05em;
  height: 22px;
  width: 110px;
  line-height: 22px;
  left: 100%;
  top: 0;
  font-size: 11px;
  color: $color-ivory;
  text-transform: uppercase;
  z-index: $header-z-index - 10;
  transform: translate(-100%, -50%);
  transition: transform 0.7s ease-in-out, opacity 0.7s ease-in-out;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    border: 11px solid $banner-color;
    border-left-color: transparent;
    border-left-width: 8px;
    border-right-width: 1px;
    z-index: -1;
    left: -8px;
  }
}
@mixin image-curve($curve-top, $curve-top-mobile, $curve-bottom, $curve-bottom-mobile) {
  &:after,
  &:before {
    content: "";
    position: absolute;
    height: 20px;
    width: 100%;
    background-size: 100%;
    left: 0;
    background-repeat: no-repeat;
  }

  &:before {
    top: 0;
    background-image: $curve-top;
    @include s-screen {
      background-image: $curve-top-mobile;
    }
  }

  &:after {
    bottom: -1px;
    background-image: $curve-bottom;
    background-position: bottom;
    @include s-screen {
      background-image: $curve-bottom-mobile;
    }
  }
}
// Layout
@mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: block;
  }
}
// Animation
@mixin animate-flash($speed: 1s, $start-opacity: 1, $mid-opacity: 0.8) {
  -webkit-animation: flash $speed infinite;
  -moz-animation: flash $speed infinite;
  -o-animation: flash $speed infinite;
  animation: flash $speed infinite;
  @-webkit-keyframes flash {
    0% {
      opacity: $start-opacity;
    }

    50% {
      opacity: $mid-opacity;
    }

    100% {
      opacity: $start-opacity;
    }
  }
  @-moz-keyframes flash {
    0% {
      opacity: $start-opacity;
    }

    50% {
      opacity: $mid-opacity;
    }

    100% {
      opacity: $start-opacity;
    }
  }
  @-o-keyframes flash {
    0% {
      opacity: $start-opacity;
    }

    50% {
      opacity: $mid-opacity;
    }

    100% {
      opacity: $start-opacity;
    }
  }
  @keyframes flash {
    0% {
      opacity: $start-opacity;
    }

    50% {
      opacity: $mid-opacity;
    }

    100% {
      opacity: $start-opacity;
    }
  }
}
@mixin animate-fill($speed: 1s, $start-fill: 1, $mid-fill: 0.8) {
  -webkit-animation: fill $speed infinite;
  -moz-animation: fill $speed infinite;
  -o-animation: fill $speed infinite;
  animation: fill $speed infinite;
  @-webkit-keyframes fill {
    0% {
      fill: $start-fill;
    }

    50% {
      fill: $mid-fill;
    }

    100% {
      fill: $start-fill;
    }
  }
  @-moz-keyframes fill {
    0% {
      fill: $start-fill;
    }

    50% {
      fill: $mid-fill;
    }

    100% {
      fill: $start-fill;
    }
  }
  @-o-keyframes fill {
    0% {
      fill: $start-fill;
    }

    50% {
      fill: $mid-fill;
    }

    100% {
      fill: $start-fill;
    }
  }
  @keyframes fill {
    0% {
      fill: $start-fill;
    }

    50% {
      fill: $mid-fill;
    }

    100% {
      fill: $start-fill;
    }
  }
}
@mixin rotate-cw ($speed: 6s) {
  -webkit-animation: cw-rotation $speed infinite ease-in-out;
  -moz-animation: cw-rotation $speed infinite ease-in-out;
  -o-animation: cw-rotation $speed infinite ease-in-out;
  animation: cw-rotation $speed infinite ease-in-out;
  @keyframes cw-rotation {
    0% {
      transform: rotate(0deg);
    }

    25% {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}
@mixin rotate-ccw ($speed: 6s) {
  -webkit-animation: ccw-rotation $speed infinite ease-in-out;
  -moz-animation: ccw-rotation $speed infinite ease-in-out;
  -o-animation: ccw-rotation $speed infinite ease-in-out;
  animation: ccw-rotation $speed infinite ease-in-out;
  @keyframes ccw-rotation {
    0% {
      transform: rotate(360deg);
    }

    25% {
      transform: rotate(360deg);
    }

    to {
      transform: rotate(0deg);
    }
  }
}
@mixin horizontal-slide ($speed: 60s) {
  -webkit-animation: slide $speed linear infinite;
}
@-webkit-keyframes slide {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -1000px 0;
  }
}
