body {
  font-family: $font-primary;
  color: $color-primary;
  margin: 0 auto;
  max-width: 2000px;
  box-shadow: $shadow-white-div;
}

a {
  text-decoration: none;
  color: inherit;

  &:active,
  &:focus,
  &:hover,
  &:visited {
    text-decoration: none;
    color: inherit;
  }

  &:hover {
    opacity: 0.7;
  }

  &.anchor {
    display: block;
    position: relative;
    top: -65px;
    @include s-screen {
      top: 0;
    }
  }
}
