.p--header,
.p--text,
.p--title {
  font-family: $font-primary;
  color: $color-primary;
  -webkit-font-smoothing: antialiased;
}
// Header

.p--header {
  line-height: 1.2;
  font-weight: $font-normal;
  font-size: 38px;
  @media (max-width: $break-mobile) {
    font-size: 28px;
  }
}
// Paragraph text

.p--text {
  font-weight: $font-normal;
  line-height: 1.5;
  font-size: 21px;
  margin: 1em auto;
}
// Section Title

.p--title {
  display: block;
  letter-spacing: 2px;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  margin: 60px auto 40px;
  padding: 5px 20px;
  width: fit-content;
  border: 2px solid $color-primary;
}
